<div class="panel panel-default">
    <div class="panel-heading">
        <div class="button-close" ng-click="goIndex()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
        <div class="btn-group">
            <button class="btn btn-default" prevent-default title="In danh sách" ng-click="print()"><span class="glyphicon glyphicon-print"></span>&ensp;In</button>
            <!--<button class="btn btn-default" prevent-default title="In danh sách" ng-click="printExcel()"><span class="glyphicon glyphicon-print"></span>&ensp;Xuất Excel</button>-->
        </div>
    </div>
    <div class="panel-body">
        <div id="main-report">
            <br />
            <style>
                .date-time,
                th,
                td,
                span {
                    font-size: 14px;
                    font-family: 'Times New Roman';
                }

                th,
                td {
                    padding: 2px;
                }

                .header-report {
                    margin-bottom: 15px;
                }

                    .header-report table,
                    .infor-report table {
                        width: 100%;
                        padding-left: 2px;
                        border: 0;
                    }

                .infor-report {
                    padding-left: 50px;
                }

                .data-report {
                    margin-bottom: 10px;
                }

                    .data-report table {
                        width: 100%;
                        border: 1px solid;
                        border-collapse: collapse;
                    }

                        .data-report table thead tr th,
                        .data-report table tbody.data-detail tr td {
                            border: 1px solid;
                        }

                        .data-report table tbody.data-detail .object-parent {
                            font-weight: bold;
                            padding-left: 20px;
                            color: #ff0000;
                        }

                .infor-report table tr td {
                    position: relative;
                }

                .dotted-description {
                    position: absolute;
                    width: calc(100% - 110px);
                    border-bottom: 1px dotted;
                }

                .signature-place table {
                    width: 100%;
                }

                .signature-place .date-time {
                    float: right;
                    font-style: italic;
                    padding: 10px 30px 5px 10px;
                }

                .signature-place table thead tr th {
                    text-align: center;
                }

                .signature-place table tbody tr td {
                    text-align: center;
                }

                .end-page {
                    height: 100px;
                }

                .label-info-report {
                    float: left;
                    font-weight: bold;
                }

                .info-company-top-left {
                    float: left;
                    text-align: center;
                    font-weight: bold;
                    margin-left: 10px;
                }

                .info-datereport-top-right {
                    float: right;
                    text-align: center;
                    font-weight: bold;
                    padding-right: 20px;
                }

                .name-report {
                    text-align: center;
                    font-weight: bold;
                    font-size: 22px !important;
                    padding: 5px;
                }

                .info-contract-attachment {
                    text-align: center;
                    font-style: italic;
                    font-size: 14px !important;
                }

                .text-center {
                    text-align: center;
                    font-weight: bold;
                }

                .name-tong-hop {
                    text-align: center;
                    font-weight: bold;
                }

                .value-tong-hop {
                    font-weight: bold;
                    text-align: right;
                }

                .unitCustom {
                    text-transform: uppercase;
                }
            </style>

            <div id="dataTable">
                <div class="header-report">
                    <div class="row name-report">
                        <p>BÁO CÁO THEO DÕI TEM CẤP PHÉP</p>
                    </div>
                    <p class="info-contract-attachment">Từ ngày {{target.fromDate | date:'dd/MM/yyyy'}}&nbsp; Đến ngày {{target.toDate | date: 'dd/MM/yyyy'}}</p>
                </div>
            </div>
            <br>

            <div class="data-report">
                <table>
                    <thead>
                        <tr>
                            <th class="text-center" rowspan="2" style="width: 5%">STT</th>
                            <th class="text-center" rowspan="2" style="width: 20%">Mã tem</th>
                            <th class="text-center" rowspan="2" style="width: 15%">Ngày cấp</th>
                            <th class="text-center" colspan="3" style="width: 60%">Số lượng</th>
                        </tr>
                        <tr>
                            <th class="text-center" style="width: 20%">Đã sử dụng</th>
                            <th class="text-center" style="width: 20%">Chưa sử dụng</th>
                            <th class="text-center" style="width: 20%">Hủy</th>
                        </tr>
                    </thead>
                    <tbody class="data-detail" ng-repeat="obj in target.data">
                        <tr>
                            <td colspan="6"><span class="object-parent">{{obj.maDoanhNghiep}} - {{obj.tenDoanhNghiep}}</span></td>
                        </tr>
                        <tr ng-repeat="item in obj.dataDetails" style="text-align:center;">
                            <td >{{$index + 1}}</td>
                            <td>
                                {{item.maTem}}
                            </td>
                            <td>
                                {{item.ngayKeKhai | date: 'dd/MM/yyyy'}}
                            </td>
                            <td>
                                {{item.soLuongDung}}
                            </td>
                            <td>
                                {{item.soLuongCon}}
                            </td>
                            <td>
                                {{item.soLuongHuy}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align:center"><b>Tổng</b></td>
                            <td style="text-align:center;"><b>{{robot.sum(obj.dataDetails,'soLuongDung') | number}}</b></td>
                            <td style="text-align:center;"><b>{{robot.sum(obj.dataDetails,'soLuongCon') | number}}</b></td>
                            <td style="text-align:center;"><b>{{robot.sum(obj.dataDetails,'soLuongHuy') | number}}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class=end-page></div>
        </div>
    </div>
</div>