<form></form><!-- KHông hiểu sao để thế này thì nó mới không bị lỗi T_T-->
<style>
    #myWorkContent {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
</style>

<div>
    <div>
        <div class="modal-header">
            <h3 class="modal-title">{{title()}}</h3>
            <div class="button-close" ng-click="cancel()">
                <i class="glyphicon glyphicon-remove x-close"></i>
            </div>
        </div>
        <div class="modal-body" ng-form name="_form">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Số chứng từ <span style="color: red">(*)</span>
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" type="text" ng-model="target.maChungTu" maxlength="50" name="_maChungTu" required>
                            <span style="color: red" ng-show="_form._maChungTu.$dirty && _form._maChungTu.$invalid">
                                <span ng-show="_form._maChungTu.$error.required">Không được để trống</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Ngày chứng từ
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="input-border-form" type="text" ng-model="target.ngayCT" placeholder="{{config.dateFormat}}"
                                       uib-datepicker-popup="{{config.dateFormat}}" is-open="_ngayct" datepicker-localdate disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Ngày hóa đơn
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="input-border-form" type="text" ng-model="target.ngayHoaDon" placeholder="{{config.dateFormat}}"
                                       uib-datepicker-popup="{{config.dateFormat}}" datepicker-localdate is-open="_ngayHoaDon" />
                                <div class="button-calender" ng-click="_ngayHoaDon = !_ngayHoaDon; config.delegateEvent($event);">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Số hóa đơn
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" type="text" name="_maHoaDon" focus="true" ng-model="target.maHoaDon" maxlength="50" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Tài khoản có
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" type="text" ng-model="target.tkCo" name="_tkCo" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.accounts | filter:$viewValue | limitTo:5" typeahead-on-select="selectedTkCo($item)" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Khách hàng<span style="color: red">(*)</span>
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="input-border-form" name="_makhachHang" type="text" ng-model="target.maKhachHang" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.customers | filter:$viewValue | limitTo:5" typeahead-on-select="selectedkhachHang($item)" typeahead-input-formatter="formatLabel($model, 'customers')" required />
                                <div class="add-input-able" ng-click="createCustomer(target, 'makhachHang')">
                                </div>
                                <span style="color:red" ng-show="_form._makhachHang.$dirty && _form._makhachHang.$invalid">
                                    <span ng-show="_form._makhachHang.$error.required">Không được để trống</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Mã số thuế
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" name="_maSoThue" type="text" ng-model="target.maSoThue" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Đơn đặt hàng
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" name="_sophieudathang" type="text" ng-model="target.soPhieuDatHang" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in donHangs | filter:$viewValue | limitTo:5" typeahead-on-select="selectedDonDatHang($item)" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Kho nhập <span style="color: red">(*)</span>
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="input-border-form" name="_khoNhap" type="text" ng-model="target.maKhoNhap" typeahead-editable="false" typeahead-on-select="selectedKhoNhap($item)" uib-typeahead="opt.value as opt.text for opt in tempData.wareHouses | filter:$viewValue | limitTo:5" typeahead-input-formatter="formatLabel($model, 'wareHouses')" required />
                                <div class="add-input-able" ng-click="createWareHouse(target, 'maKhoNhap')">
                                </div>
                            </div>
                            <span style="color: red" ng-show="_form._khoNhap.$dirty && _form._khoNhap.$invalid">
                                <span style="color: red">Không được để trống</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-style-label-input">
                            Ghi chú
                        </div>
                        <div class="md-12-style-input">
                            <textarea class="input-border-form" style="width: 100%;" ng-model="target.noiDung" maxlength="300" rows="1"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal-body">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Chi tiết">
                    <div id="myWorkContent">
                        <table class="table table-bordered table-hover table-condensed" style="width:1500px">
                            <thead>
                                <tr style="font-weight: bold">
                                    <th style="width:45px" class="text-center">STT</th>
                                    <th style="width:120px;max-width:150px;" class="text-center">Barcode</th>
                                    <th style="width:90px" class="text-center">Mã hàng</th>
                                    <th style="width:200px" class="text-center">Tên hàng</th>
                                    <th style="width:60px" class="text-center">ĐVT</th>
                                    <th style="width:100px" class="text-center">Loại bao bì</th>
                                    <th style="width:60px" class="text-center">Quy cách</th>
                                    <th style="width:40px" class="text-center">Sl bao</th>
                                    <th style="width:40px" class="text-center">Sl lẻ</th>
                                    <th style="width:50px" class="text-center">Sl</th>
                                    <th style="width:90px" class="text-center">Giá mua </br> (chưa VAT)</th>
                                    <th style="width:60px" class="text-center">% VAT</th>
                                    <th style="width:90px" class="text-center">Giá mua </br> (Có VAT)</th>
                                    <th style="width:100px" class="text-center">Thành tiền</th>
                                    <th style="width:100px" class="text-center">Thành tiền </br> (Có VAT)</th>

                                    <th style="width:60px"></th>
                                </tr>
                            </thead>
                            <tbody ng-form name="_formAddDetail">
                                <tr style="background:rgba(119, 119, 119, 0.48)" ng-enter="addRow()">
                                    <td style="text-align:center;"></td>
                                    <td nowrap>
                                        <input type="text" style="text-align:center; width:100%;max-width:150px;" ng-model="newItem.barcode" disabled>
                                    </td>
                                    <td>
                                        <input id="mahang" type="text" style="width:100%;" name="_maHang" ng-model="newItem.maHang" ng-blur="selectedMaHang(newItem.maHang)" maxlength="50" />
                                    </td>
                                    <td>
                                        {{newItem.tenHang}}
                                    </td>
                                    <td>
                                        <input type="text" name="_donViTinh" ng-model="newItem.donViTinh" maxlength="50" />
                                    </td>
                                    <td>
                                        <div class="add-input-zone">
                                            <input autocomplete="off" type="text" style="width:100%;" ng-model="newItem.maBaoBi" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.packagings | filter:$viewValue | limitTo:5" typeahead-on-select="selectedMaBaoBi(newItem, $item)" typeahead-input-formatter="formatLabel($model, 'packagings')" />
                                            <div class="add-input-able" ng-click="createPackage(newItem, 'maBaoBi')">
                                            </div>
                                        </div>
                                    </td>
                                    <td style="text-align:center;">{{newItem.luongBao}}</td>
                                    <td>
                                        <input format-number-input="number" style="text-align:center; width:100%" ng-model="newItem.soLuongBao" ng-change="robot.changeSoLuongBao(newItem)">
                                    </td>
                                    <td>
                                        <input id="soluong" format-number-input="number" style="text-align:center; width:100%" ng-model="newItem.soLuongLe" ng-change="robot.changeSoLuongLe(newItem)">
                                    </td>
                                    <td>
                                        <input format-number-input="number" style="text-align:center; width:100%" ng-model="newItem.soLuong" disabled>
                                    </td>
                                    <td>
                                        <input format-number-input="number" style="text-align:right; width:100%" ng-model="newItem.donGia" ng-change="robot.changeDonGia(newItem)" />
                                    </td>
                                    <td style="text-align:center;">{{newItem.tyLeVatVao}}%</td>
                                    <td>
                                        <input format-number-input="number" style="text-align:right; width:100%" ng-model="newItem.giaMuaCoVat" ng-change="robot.changeGiaMuaDonGia(newItem)" />
                                    </td>
                                    <td>
                                        <div style="text-align:right; width:100%" disabled>
                                            {{newItem.thanhTien | number}}
                                        </div>
                                    </td>
                                    <td>
                                        <div style="text-align:right" disabled>
                                            {{newItem.thanhTienVAT | number}}
                                        </div>
                                    </td>

                                    <td style="white-space: nowrap" class="text-center">
                                        <div class="form-buttons form-inline">
                                            <button prevent-default type="button" ng-disabled="_formAddDetail.$invalid" ng-click="addRow()" class="btn btn-default btn-sm btn-sm-add-item">{{config.label.btnCreate}}</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-form name="_formDetail">
                                <tr ng-if="isLoading">
                                    <td colspan="16"><my-loading></my-loading></td>
                                </tr>
                                <tr ng-repeat="item in data track by $index">
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td nowrap style="width:120px;max-width:150px;">
                                        {{item.barcode.split(';')[0]}}
                                    </td>
                                    <td>
                                        {{item.maHang}}
                                    </td>
                                    <td>
                                        {{item.tenHang}}
                                    </td>
                                    <td><input type="text" name="_donViTinh" ng-model="item.donViTinh" maxlength="50" /></td>
                                    <td>
                                        <input autocomplete="off" type="text" style="width:100%;" ng-model="item.maBaoBi" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.packagings | filter:$viewValue | limitTo:5" typeahead-on-select="selectedMaBaoBi(item, $item)" typeahead-input-formatter="formatLabel($model, 'packagings')" />
                                    </td>
                                    <td style="text-align:center;">{{item.luongBao}}</td>
                                    <td>
                                        <input format-number-input="number" style="text-align:center; width:100%" ng-model="item.soLuongBao" ng-change="robot.changeSoLuongBao(item)">
                                    </td>
                                    <td>
                                        <input format-number-input="number" style="text-align:center; width:100%" ng-model="item.soLuongLe" ng-change="robot.changeSoLuongLe(item)">
                                    </td>
                                    <td>
                                        <input format-number-input="number" style="text-align:center; width:100%" ng-model="item.soLuong" disabled>
                                    </td>
                                    <td>
                                        <input style="text-align:right; width:100%;" type="number" ng-model="item.donGia" ng-change="robot.changeDonGia(item)" />
                                    </td>
                                    <td style="text-align:center;">{{item.tyLeVatVao}}%</td>
                                    <td>
                                        <input format-number-input="number" style="text-align:right; width:100%" ng-model="item.giaMuaCoVat" ng-change="robot.changeGiaMuaDonGia(item)" />
                                    </td>
                                    <td>
                                        <div style="text-align:right" disabled>
                                            {{item.thanhTien | number}}
                                        </div>
                                    </td>
                                    <td>
                                        <div style="text-align:right" disabled>
                                            {{item.thanhTienVAT | number}}
                                        </div>
                                    </td>

                                    <td style="white-space: nowrap">
                                        <!-- form -->
                                        <div class="form-buttons form-inline">
                                            <button prevent-default type="button" style="height: 20px; line-height: 2px;background: rgba(255, 213, 93, 0.61);" ng-click="removeItem($index)" class="btn btn-default btn-sm">
                                                Xóa
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <uib-pagination class="no-margin-vertical pagination-sm" ng-model="paged.currentPage"
                                        ng-change="pageChanged()"
                                        items-per-page="paged.itemsPerPage" ng-show="paged.totalItems > 0" total-items="paged.totalItems" max-size="paged.pageSize"
                                        boundary-links="true" num-pages="paged.totalPage"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                        </uib-pagination>
                    </div>
                </uib-tab>
                <uib-tab heading="Định khoản">
                    <div class="table-responsive">
                        <div>
                            <form name="_tableForm">
                                <table class="table table-bordered table-hover table-condensed">
                                    <tr style="font-weight: bold">
                                        <td style="width:2%" class="text-center">STT</td>
                                        <td style="width:10%" class="text-center">Tài khoản nợ</td>
                                        <td style="width:10%" class="text-center">Tài khoản có</td>
                                        <td style="width:20%" class="text-center">Đối tượng nợ</td>
                                        <td style="width:20%" class="text-center">Đối tượng có</td>
                                        <td style="width:20%" class="text-center">Số tiền</td>
                                    </tr>
                                    <tr ng-repeat="item in target.dataClauseDetails">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td>
                                            <input type="text" ng-model="item.tkNo" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.accounts | filter:$viewValue" | limitto:5 />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="item.tkCo" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.accounts | filter:$viewValue" | limitto:5 />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="item.doiTuongNo" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.wareHouses | filter:$viewValue | limitTo:5" typeahead-input-formatter="formatLabel($model, 'wareHouses')" disabled />
                                        </td>
                                        <td>
                                            <input type="text" ng-model="item.doiTuongCo" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.customers | filter:$viewValue | limitTo:5" typeahead-input-formatter="formatLabel($model, 'customers')" disabled />
                                        </td>
                                        <td class="text-center">
                                            <input type="number" style="text-align:right" ng-model="item.soTien" disabled />
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
            <div class="form-group">
                <table class="table table-inverse">
                    <tbody>
                        <tr>
                            <td style="width:55%"></td>
                            <td nowrap style="text-align:center"><label>Thành tiền:</label></td>
                            <td nowrap></td>
                            <td style="text-align:right; width:20%"><span style="color:red;font-weight:bold"><b>{{target.thanhTienTruocVat | number}}</b></span></td>
                        </tr>
                        <tr>
                            <td style="width:55%"></td>
                            <td nowrap style="text-align:center"><label>Chiết khấu:</label></td>
                            <td style="width:10%; text-align:right">
                                <input class="input-border-form" format-number-input="number" style="text-align:right; width:100%;border-color:#ababab;" ng-model="target.chietKhau" ng-change="robot.changeChietKhau(target)" />
                            </td>
                            <td style="text-align:right">
                                <input class="input-border-form" format-number-input="number" style="text-align:right;border-color:#ababab;" ng-model="target.tienChietKhau" ng-change="robot.changeTienChietKhau(target)" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:55%"></td>
                            <td nowrap style="text-align:center;"><label>Thuế(%):</label><span style="color:red">(*)</span></td>
                            <td style="width:10%;text-align:right">
                                <select class="input-border-form" ng-model="target.vat" required name="_tax" style="border-color:#ababab;width:100%" ng-change="selectedTax(target)" ng-options="opt.value as opt.text for opt in tempData.taxs"></select>
                                <!--<input class="input-border-form" name="_tax" type="text" style="border-color:#ababab;" ng-model="target.vat" typeahead-editable="false" typeahead-on-select="selectedTax(target, $item)" uib-typeahead="opt.value as opt.text for opt in tempData.taxs | filter:$viewValue | limitTo:5" typeahead-input-formatter="formatLabel($model, 'taxs')" />-->
                            </td>
                            <td nowrap style="text-align:right; width:20%"> <span style="color:red;font-weight:bold"><b>{{target.tienVat| number}}</b></span></td>
                        </tr>
                        <tr>
                            <td style="width:55%"></td>
                            <td nowrap style="text-align:center"><label>Tổng tiền:</label></td>
                            <td></td>
                            <td nowrap style="text-align:right; width:20%"> <span style="color:red;font-weight:bold"><b>{{target.thanhTienSauVat | number}}</b></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <span ng-show="Loading"><my-loading></my-loading></span>
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid || _formDetail.$invalid || !target.vat || Loading || isListItemNull" ng-click="saveAndKeep()">{{config.label.btnSaveAndKeep}}</button>
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid || _formDetail.$invalid || !target.vat || Loading || isListItemNull" ng-click="saveAndPrint()">{{config.label.btnSaveAndPrint}}</button>
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid || _formDetail.$invalid || !target.vat || Loading || isListItemNull" ng-click="save()">{{config.label.btnSubmit}}</button>
        <button prevent-default class="btn btn-default" ng-disabled="Loading" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>
