<div class="panel panel-default">
    <div class="panel-heading">
        <div class="button-close" ng-click="goIndex()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
        <div class="btn-group">
            <button class="btn btn-default" prevent-default title="In danh sách" ng-click="print()"><span class="glyphicon glyphicon-print"></span>&ensp;In</button>
            <button class="btn btn-default" prevent-default title="In danh sách" ng-click="printExcel()"><span class="glyphicon glyphicon-print"></span>&ensp;Xuất Excel</button>
        </div>
    </div>
    <div class="panel-body">
        <div id="main-report">
            <br />
            <div id="dataTable">
                <style>
                    th,
                    td {
                        padding: 5px;
                    }

                    table {
                        margin: 0 auto;
                    }

                    .header-report {
                        margin-bottom: 30px;
                    }

                        .header-report table,
                        .infor-report table {
                            width: 100%;
                            border: 0;
                        }

                    .data-report table {
                        width: 100%;
                        border: 1px solid;
                        border-collapse: collapse;
                    }

                        .data-report table tr,
                        .data-report table tr td,
                        .data-report table tr th {
                            border: 1px solid;
                        }

                    .header-report table tr {
                        text-align: center;
                    }

                    .header-report table tbody tr td {
                        width: 30%;
                    }

                    .infor-report table tr td {
                        position: relative;
                    }

                    .dotted-description {
                        position: absolute;
                        width: calc(100% - 110px);
                        border-bottom: 1px dotted;
                    }

                    .signature-place table {
                        width: 100%;
                    }

                        .signature-place table thead tr th {
                            width: 33.33%;
                            text-align: center;
                        }

                        .signature-place table tbody tr td {
                            height: 150px;
                        }

                    .label-info-report {
                        float: left;
                        width: 110px;
                    }
                </style>
                <div class="header-report">
                    <table style="float:left; width:100%; margin-bottom:15px;">
                        <tr>
                            <td style="float:left;width:100%;text-align:left;font-weight:bold;">
                                TỔNG CỤC HẢI QUAN
                            </td>
                        </tr>
                        <tr>
                            <td style="float:left;text-align:center;width:100%;font-weight:bold;">
                                BÁO CÁO XUẤT NHẬP TỒN KHO THEO  TỜ KHAI (TỔNG HỢP) &nbsp;&nbsp; {{target.soToKhai}}

                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <br>
            <div class="data-report">
                <table>
                    <thead>
                        <tr>
                            <th class="text-center" rowspan="2" style="width: 2%">STT</th>
                            <th class="text-center" rowspan="2" style="width: 8%">Mã Hàng</th>
                            <th class="text-center" rowspan="2" style="width: 15%">Tên Hàng</th>
                            <th class="text-center" colspan="2" style="width: 25%">Nhập</th>
                            <th class="text-center" colspan="2" style="width: 25%">Xuất</th>
                            <th class="text-center" colspan="2" style="width: 25%">Tồn</th>

                        </tr>
                        <tr>
                            <th class="text-center" style="width: 13.5%">Số lượng</th>
                            <th class="text-center" style="width: 13.5%">Trị giá</th>
                            <th class="text-center" style="width: 13.5%">Số lượng</th>
                            <th class="text-center" style="width: 13.5%">Trị giá</th>
                            <th class="text-center" style="width: 13.5%">Số lượng</th>
                            <th class="text-center" style="width: 13.5%">Trị giá</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="obj in data">

                        <tr>
                            <td colspan="9">&nbsp;&nbsp;&nbsp;<b style="color: red"><i>{{nameOfObject(obj.maDoanhNghiep,'companies')}}</i></b></td>
                        </tr>


                        <tr ng-repeat="detail in obj.detailsListObjects">
                            <td colspan="9" style="padding: 0px">
                                <table>
                                    <thead>
                                        <tr>
                                            <td colspan="3">&nbsp;&nbsp;&nbsp;<b style="color: green"><i>Mã HS : {{nameOfObject(detail.maNhomVatTu,'nhomVatTus')}}</i></b></td>
                                            <td style="text-align: center;">{{robot.sum(detail.reportInventoryDtoDetails, 'soLuongNhap') | number}}</td>
                                            <td style="text-align: center;">{{robot.sum(detail.reportInventoryDtoDetails, 'giaTriNhap') | number}}</td>
                                            <td style="text-align: center;">{{robot.sum(detail.reportInventoryDtoDetails, 'soLuongXuat') | number}}</td>
                                            <td style="text-align: center;">{{robot.sum(detail.reportInventoryDtoDetails, 'giaTriXuat') | number}}</td>
                                            <td style="text-align: center;">{{robot.sum(detail.reportInventoryDtoDetails, 'soLuongTon') | number}}</td>
                                            <td style="text-align: center;">{{robot.sum(detail.reportInventoryDtoDetails, 'giaTriTon') | number}}</td>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="item in detail.reportInventoryDtoDetails">
                                        <tr>
                                            <td style="text-align: center; width: 2%">{{$index + 1}}</td>

                                            <td style="width: 8%">{{item.maHang}}</td>
                                            <td style="width: 15%">{{item.tenHang}}</td>
                                            <td style="text-align: center; width: 13.5% ">{{item.soLuongNhap | number}}</td>
                                            <td style="text-align: center; width: 13.5%">{{item.giaTriNhap | number}}</td>
                                            <td style="text-align: center; width: 13.5%">{{item.soLuongXuat | number}}</td>
                                            <td style="text-align: center; width: 13.5%">{{item.giaTriXuat | number}}</td>
                                            <td style="text-align: center; width: 13.5%">{{item.soLuongTon | number}}</td>
                                            <td style="text-align: center; width: 13.5%">{{item.giaTriTon | number}}</td>
                                        </tr>

                                    </tbody>
                                </table>


                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="signature-place">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Ngày {{data.createDay}} tháng {{data.createMonth}} năm {{data.createYear}}</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>