<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}  {{lbl.lblCreate}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div class="modal-body">
        <form role="form" name="_form">
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Mã nhóm quyền</label><span style="color: red"> (1*)</span>
                    <input type="text" class="form-control" ng-model="target.idGroup" name="_maTk" maxlength="50" required>
                    <span style="color:red" ng-show="_form._maTk.$dirty && _form._maTk.$invalid">
                        <span ng-show="_form._maTk.$error.required">Không được để trống</span>
                        </br>
                        <span ng-if="!_form._maTk.$valid">Không nhập quá 50 kí tự</span>
                    </span>
                </div>
                <div class="col-lg-6">
                    <label>Tên nhóm quyền</label><span style="color: red"> (2*)</span>
                    <input type="text" class="form-control" ng-model="target.nameGroup" name="_nameGroup" required />
                    <span style="color:red" ng-show="_form._nameGroup.$dirty && _form._nameGroup.$invalid">
                        <span ng-show="_form._nameGroup.$error.required">Không được để trống</span>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-12">
                    <label>Mô tả</label>
                    <input type="text" class="form-control" ng-model="target.description">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid" ng-click="save()">{{config.label.btnSubmit}}</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>