<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-title">STT</th>
                        <th class="column-title">Username</th>
                        <th class="column-title">Tên đầy đủ</th>
                        <th class="column-title">Đơn vị</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="isLoading">
                        <td colspan="5"><my-loading></my-loading></td>
                    </tr>
                    <tr class="even pointer" ng-repeat="item in lstUser">
                        <td>{{$index+1}}</td>
                        <td>{{item.username}}</td>
                        <td>{{item.firstname}}&nbsp;{{item.lastname}}</td>
                        <td>{{item.maDonVi}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button prevent-default class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span>&ensp;{{config.label.btnCancel}}</button>
    </div>
</div>