<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}  {{lbl.lblCreate}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div class="panel-heading">
        <div class="btn-toolbar" role="toolbar">
            <form name="form" novalidate id="addform">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group" ng-if="currentNode">
                            <h4>{{currentNode.title}}</h4>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Quyền</label>
                            <i class="fa fa-check text-success" ng-show="form._ROLEs.$dirty && form._ROLEs.$valid"></i>
                            <i class="fa fa-times text-danger" ng-show="form._ROLEs.$dirty && form._ROLEs.$invalid"></i>
                            <span ng-show="form._ROLEs.$error.required">Bạn chưa chọn quyền</span>
                            <select ng-model="target.ROLEs" name="_ROLEs" style="width: 100%; height: 120px;" required multiple>
                                <option value="" selected="selected">--Chọn quyền</option>
                                <option value="1" selected="selected">Xem</option>
                                <option value="2" selected="selected">Thêm</option>
                                <option value="3" selected="selected">Sửa</option>
                                <option value="4" selected="selected">Xóa</option>
                                <option value="5" selected="selected">Duyệt</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <button type="button" ng-click="addUser()" class="btn btn-primary glyphicon glyphicon-plus">Chọn người dùng</button>
                            <br />
                            <i class="fa fa-check text-success" ng-show="form._USERS.$dirty && form._USERS.$valid"></i>
                            <i class="fa fa-times text-danger" ng-show="form._USERS.$dirty && form._USERS.$invalid"></i>
                            <span ng-show="form._USERS.$error.required">Bạn chưa chọn người dùng nào</span>
                            <input type="hidden" class="form-control" ng-model="target.users" required autocomplete="off" name="_USERS">
                            <ul>
                                <li ng-repeat="u in target.users">{{u.username}}</li>
                            </ul>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid" ng-click="save()">{{config.label.btnSubmit}}</button>
    <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
</div>
</div>