<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div class="modal-body">
        <form role="form" name="_form">
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Mã lý do</label><span style="color: red"> (1*)</span>
                    <input type="text" class="form-control" ng-model="target.maLyDo" name="_maLyDo" maxlength="50" disabled>
                </div>
                <div class="col-lg-6">
                    <label>Tên lý do</label><span style="color: red"> (2*)</span>
                    <input type="text" class="form-control" ng-model="target.tenLyDo" name="_tenLyDo" maxlength="300" disabled>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Loại</label><span style="color: red"> (3*)</span>
                    <select class="form-control" ng-model="target.loai" ng-options="opt.value as opt.text for opt in tempData.typeXKs" disabled></select>
                </div>
                <div class="col-lg-6">
                    <label>Trạng thái</label><span style="color: red"> (4*)</span>
                    <select class="form-control" ng-model="target.trangThai"  ng-options="opt.value as opt.text for opt in tempData.status" disabled></select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>