<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div class="modal-body">
        <form role="form" name="_form">
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Đơn vị cha</label>
                    <select class="form-control" ng-model="target.parentId" ng-options="opt.value as opt.text for opt in tempData.donViHaiQuans"></select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Mã đơn vị</label><span style="color: red"> (1*)</span>
                    <input type="text" class="form-control" ng-model="target.maHaiQuan" name="_maTk" maxlength="50" required disabled>
                    <span style="color:red" ng-show="_form._maTk.$dirty && _form._maTk.$invalid">
                        <span ng-show="_form._maTk.$error.required">Không được để trống</span>
                    </span>
                </div>
                <div class="col-lg-6">
                    <label>Tên đơn vị</label><span style="color: red"> (2*)</span>
                    <input type="text" class="form-control" ng-model="target.tenHaiQuan">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Cấp</label>
                    <select class="form-control" ng-model="target.cap" ng-options="opt.value as opt.text for opt in tempData.cap"></select>
                </div>
                <div class="col-lg-6">
                    <label>Địa chỉ</label><span style="color: red"> (3*)</span>
                    <input type="text" class="form-control" ng-model="target.diaChi">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Số điện thoại</label><span style="color: red"> (4*)</span>
                    <input type="text" class="form-control" ng-model="target.soDienThoai" ng-pattern="/^[0-9]+$/" required name="_SoDienThoai">
                    <span style="color:red" ng-show="_form._SoDienThoai.$dirty && _form._SoDienThoai.$invalid">
                        <span ng-show="_form._SoDienThoai.$error.required">Không được để trống</span>
                        <span ng-show="_form._SoDienThoai.$error.pattern">Ký tự bắt buộc phải là số</span>
                    </span>

                </div>
                <div class="col-lg-6">
                    <label>Trạng thái</label><span style="color: red"> (5*)</span>
                    <select class="form-control" ng-init="target.trangThai = 10" ng-model="target.trangThai" ng-options="opt.value as opt.text for opt in tempData.status"></select>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-12">
                    <label>Ghi chú</label>
                    <input type="text" class="form-control" ng-model="target.ghiChu">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid" ng-click="save()">{{config.label.btnSubmit}}</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>