<form></form><!-- KHông hiểu sao để thế này thì nó mới không bị lỗi T_T-->
<style>
    #myWorkContent {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

     #_timeUpdate {
        color: red;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
    }
</style>

<div>
    <div>
        <div>
            <div class="modal-header">
                <h3 class="modal-title">{{title()}}</h3>
                <div class="button-close" ng-click="cancel()">
                    <i class="glyphicon glyphicon-remove x-close"></i>
                </div>
            </div>

            <p id="_timeUpdate" style="text-align: center">
                <span>{{warning}}</span>
            </p>
            <uib-tabset>
                <uib-tab ng-repeat="item in dataHistory" index="$index + 1">
                    <uib-tab-heading>
                        <div id="_timeUpdate">
                            <span>{{item.timeUpdate}}</span><br />
                            <span>{{item.ngaySua | date :"dd/MM/yyyy ' - ' h:mma"}}</span>

                        </div>
                    </uib-tab-heading>
                    <div class="modal-body" ng-form name="_form">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="md-style-label-input">
                                        Số phiếu
                                    </div>
                                    <div class="md-4-style-input">
                                        <input class="input-border-form" type="text" ng-model="item.maChungTu" maxlength="50" name="_maChungTu" required disabled>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="md-style-label-input">
                                        Ngày lập phiếu
                                    </div>
                                    <div class="md-4-style-input">
                                        <div class="add-input-zone">
                                            <input class="input-border-form" type="text" ng-model="item.ngayCT" placeholder="{{config.dateFormat}}"
                                                   uib-datepicker-popup="{{config.dateFormat}}" is-open="_ngayct" datepicker-localdate disabled />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="md-style-label-input">
                                        Mã Doanh nghiệp
                                    </div>
                                    <div class="md-4-style-input">
                                        <div class="add-input-zone">
                                            <input class="input-border-form" name="_maDoanhNghiep" type="text" ng-model="item.maDoanhNghiep" typeahead-editable="false" uib-typeahead="opt.id as opt.text for opt in tempData.companies | filter:$viewValue | limitTo:5" typeahead-on-select="selectedDoanhNghiep($item)" typeahead-input-formatter="formatLabel($model, 'companies')" required disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="md-style-label-input">
                                        Tên doanh nghiệp
                                    </div>
                                    <div class="md-4-style-input">
                                        <input class="input-border-form" name="_tenDoanhNghiep" type="text" ng-model="item.tenDoanhNghiep" ng-value="formatLabel(item.maDoanhNghiep, 'companies')" disabled />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="md-style-label-input">
                                        Loại tiền <span style="color: red">(*)</span>
                                    </div>
                                    <div class="md-4-style-input">
                                        <div class="add-input-zone">
                                            <input class="input-border-form" name="_ngoaiTe" type="text" ng-model="item.ngoaiTe" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.currencies | filter:$viewValue" typeahead-input-formatter="nameCurrency($model, 'currencies')" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="md-style-label-input">
                                        Mã ĐV Hải quan
                                    </div>
                                    <div class="md-4-style-input">
                                        <div class="add-input-zone">
                                            <input class="input-border-form" name="_maHaiQuan" type="text" ng-model="item.maHaiQuan" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="md-style-label-input">
                                        Tên ĐV Hải quan
                                    </div>
                                    <div class="md-4-style-input">
                                        <input class="input-border-form" name="_tenDoanhNghiep" type="text" ng-model="item.tenHaiQuan" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.donViHaiQuans | filter:$viewValue | limitTo:5" typeahead-input-formatter="displayHelper(item.maHaiQuan, 'donViHaiQuans')" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="md-style-label-input">
                                        Mã kho xuất
                                    </div>
                                    <div class="md-4-style-input">
                                        <div class="add-input-zone">
                                            <input class="input-border-form" name="_maKhoXuat" type="text" ng-model="item.maKhoXuat" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="md-style-label-input">
                                        Tên kho xuất
                                    </div>
                                    <div class="md-4-style-input">
                                        <input class="input-border-form" name="_tenKhoXuat" type="text" ng-model="item.maKhoXuat" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.wareHouses | filter:$viewValue | limitTo:5" typeahead-input-formatter="displayHelper(item.maKhoXuat, 'wareHouses')" disabled />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="md-style-label-input">
                                        Ngưới xuất
                                    </div>
                                    <div class="md-4-style-input">
                                        <input class="input-border-form" name="_nguoiNhan" type="text" ng-model="item.nguoiNhan" typeahead-editable="false" disabled />
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="md-style-label-input">
                                        Mã cửa hàng nhận
                                    </div>
                                    <div class="md-4-style-input">
                                        <div class="add-input-zone">
                                            <input class="input-border-form" name="_maKhoXuat" type="text" ng-model="item.maCuaHang" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="md-style-label-input">
                                        Tên cửa hàng nhận
                                    </div>
                                    <div class="md-4-style-input">
                                        <input class="input-border-form" name="_soHd" type="text" ng-model="item.tenKhoXuat" typeahead-editable="false" uib-typeahead="opt.value as opt.description for opt in tempData.unitUsers | filter:$viewValue | limitTo:5" typeahead-input-formatter="displayHelper(item.maCuaHang, 'unitUsers')" disabled/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="md-style-label-input">
                                        Ngưới xuất
                                    </div>
                                    <div class="md-4-style-input">
                                        <input class="input-border-form" name="_soHd" type="text" ng-model="item.nguoiXuat" typeahead-editable="false" disabled/>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="md-style-label-input">
                                        Tuyến đường vân chuyển
                                    </div>
                                    <div class="md-4-style-input">
                                        <input class="input-border-form" type="text" ng-model="item.tuyenDuong" typeahead-editable="false" disabled/>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="md-style-label-input">
                                        Diễn giải
                                    </div>
                                    <div class="md-8-style-input">
                                        <textarea class="input-border-form" style="width: 100%" ng-model="item.noiDung" maxlength="300" rows="1" disabled></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <uib-tabset active="active">
                            <uib-tab index="0" heading="Chi tiết">
                                <div id="myWorkContent">
                                    <table class="table table-bordered table-hover table-condensed" style="width:1500px">
                                        <thead>
                                            <tr style="font-weight: bold">
                                                <th style="width: 45px" class="text-center">STT</th>
                                                <th style="width: 90px" class="text-center" colspan="4">Thông tin hàng hóa</th>
                                                <th style="width: 90px" class="text-center" rowspan="2">Số tờ khai</th>
                                                <th class="text-center" style="width: 100px" rowspan="2">Ngày tờ khai</th>

                                                <th style="width: 100px" class="text-center" rowspan="2" style="text-align: center;">Ngày hết hạn tờ khai</th>
                                                <th style="width: 60px" class="text-center" rowspan="2" style="text-align: center;">Số lượng</th>
                                                <th style="width: 120px" class="text-center" rowspan="2" style="text-align: center;">Đơn giá </th>
                                                <th style="width: 120px" class="text-center" rowspan="2" style="text-align: center;">Trị giá</th>
                                            </tr>
                                            <tr style="font-weight: bold">
                                                <th></th>
                                                <th style="width: 60px" class="text-center">Mã HS</th>
                                                <th style="width: 90px" class="text-center">Mã hàng</th>
                                                <th style="width: 200px" class="text-center">Tên hàng</th>
                                                <th style="width: 60px" class="text-center" style="text-align: center;">Đơn vị tính</th>

                                            </tr>

                                        </thead>
                                        <tbody ng-form name="_formDetail">
                                            <tr ng-if="isLoading">
                                                <td colspan="16"><my-loading></my-loading></td>
                                            </tr>
                                            <tr ng-repeat="obj in item.dataDetails track by $index">
                                                <td class="text-center">{{$index + 1}}</td>
                                                <td nowrap>
                                                    {{obj.maNhomVatTu}}
                                                </td>
                                                <td>
                                                    {{obj.maHang}}
                                                </td>
                                                <td>
                                                    {{obj.tenHang}}
                                                </td>
                                                <td>
                                                    {{obj.donViTinh}}
                                                </td>
                                                <td>
                                                    {{obj.soToKhai}}
                                                </td>
                                                <td style="text-align:center;">
                                                    <div class="add-input-zone">
                                                        <input class="input-border-form" type="text" ng-model="obj.ngayToKhai" placeholder="{{config.dateFormat}}"
                                                               uib-datepicker-popup="{{config.dateFormat}}" is-open="item._ngayToKhai" disabled />
                                                    </div>
                                                </td>

                                                <td style="text-align:center;">
                                                    <div class="add-input-zone">
                                                        <input class="input-border-form" type="text" ng-model="obj.hanSuDung" placeholder="{{config.dateFormat}}" style-changer="item"
                                                               uib-datepicker-popup="{{config.dateFormat}}" is-open="item._hanSuDung" disabled />
                                                    </div>
                                                </td>
                                                <td>
                                                    {{obj.soLuong}}

                                                </td>

                                                <td>
                                                    {{obj.donGia}}
                                                </td>
                                                <td>
                                                    <div style="text-align: right; width: 100%" disabled>
                                                        {{objthanhTien | number}}
                                                    </div>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="panel-footer">
                                    <uib-pagination class="no-margin-vertical pagination-sm" ng-model="paged.currentPage"
                                                    ng-change="pageChanged()"
                                                    items-per-page="paged.itemsPerPage" ng-show="paged.totalItems > 0" total-items="paged.totalItems" max-size="paged.pageSize"
                                                    boundary-links="true" num-pages="paged.totalPage"
                                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                                    </uib-pagination>
                                </div>
                            </uib-tab>

                        </uib-tabset>
                        <div class="form-group">
                            <table class="table table-inverse">
                                <tbody>
                                    <tr>
                                        <td style="width:55%"></td>
                                        <td nowrap style="text-align:center"><label>Tổng giá trị:</label></td>
                                        <td nowrap></td>
                                        <td style="text-align:right; width:20%"><span style="color:red;font-weight:bold"><b>{{item.thanhTienSauVat | number}}</b></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>

        </div>
        
    </div>
    <div class="modal-footer">
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>
