<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div>
        <div class="modal-body">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Thông tin đơn vị">
                    <div class="modal-body">
                        <form role="form" name="_form">
                            <div class="row form-group">
                                <div class="col-lg-6">
                                    <label>Mã đơn vị</label><span style="color: red"> (1*)</span>
                                    <input type="text" class="form-control" ng-model="target.maDonVi" name="_code" maxlength="50" required disabled="">
                                    <span style="color: red" ng-show="_form._code.$dirty && _form._code.$invalid">
                                        <span ng-show="_form._code.$error.required">Không được để trống</span>
                                    </span>
                                </div>
                                <div class="col-lg-6">
                                    <label>Tên Đơn vị</label><span style="color: red"> (2*)</span>
                                    <input type="text" class="form-control" ng-model="target.tenDonVi" name="_Description" maxlength="300" required>
                                    <span style="color: red" ng-show="_form._Description.$dirty && _form._Description.$invalid">
                                        <span ng-show="_form._Description.$error.required">Không được để trống</span>
                                    </span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-6">
                                    <label>Địa chỉ</label><span style="color: red"> (3*)</span>
                                    <input type="text" class="form-control" ng-model="target.diaChiDonVi">
                                </div>
                                <div class="col-lg-6">
                                    <label>Số điện thoại</label><span style="color: red"> (4*)</span>
                                    <input type="text" class="form-control" ng-model="target.soDienThoai">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-6">
                                    <label>Đơn vị Hải quan chủ quản</label><span style="color: red"> (5*)</span>
                                    <input type="text" ng-model="target.donViHaiQuanChuQuan" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.donViHaiQuan | filter:$viewValue" class="form-control" required />
                                </div>
                                <div class="col-lg-6">
                                    <label>Email</label><span style="color: red"> (6*)</span>
                                    <input type="email" name="_emails" class="form-control" ng-model="target.email">
                                    <span style="color:red" ng-show="_form._emails.$dirty && _form._emails.$invalid">
                                        <span ng-show="_form._emails.$error.email">Không hợp lệ <span>(Ví dụ: 123@gmail.com)</span></span>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </uib-tab>
                <uib-tab index="0" heading="Thông tin siêu thị">
                    <table class="table table-bordered table-hover table-condensed">
                        <tr ng-show="isLoading">
                            <td colspan="7"><my-loading></my-loading></td>
                        </tr>
                        <thead>
                            <tr>
                                <th style="width:3%" class="text-center">STT</th>
                                <th style="width:10%" class="text-center">Mã siêu thị</th>
                                <th style="width:18%" class="text-center">Tên siêu thị</th>
                                <th style="width:20%" class="text-center">Loại hình</th>
                                <th style="width:15%" class="text-center">Địa điểm</th>
                                <th style="width:15%" class="text-center">Số điện thoại</th>
                                <th style="width:20%" class="text-center">Email</th>
                            </tr>
                        </thead>
                        <tbody ng-form name="_formDetail">
                            <tr ng-if="isLoading">
                                <td colspan="13"><my-loading></my-loading></td>
                            </tr>
                            <tr ng-repeat="item in lstCuaHang track by $index">
                                <td style="text-align:center;">{{$index + 1}}</td>
                                <td>{{item.maCuaHang}}</td>
                                <td>
                                    <input type="text" style="width:100%;" name="_tenCuaHang" ng-model="item.tenCuaHang" required />
                                    <span style="color: red" ng-show="_formDetail._tenCuaHang.$dirty && _formDetail._tenCuaHang.$invalid">
                                        <span ng-show="_formDetail._tenCuaHang.$error.required">Không được để trống</span>
                                    </span>
                                </td>
                                <td>
                                    <input type="text" style="width:100%;" name="_loaiHinhCuaHang" ng-model="item.loaiHinhCuaHang" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.loaiHinhCuaHangs | filter:$viewValue" />
                                </td>
                                <td>
                                    <input type="text" style="width:100%;" name="_diaDiemBanHang" ng-model="item.diaDiemBanHang" />
                                </td>
                                <td>
                                    <input type="text" style="width:100%;" name="_soDienThoai" ng-model="item.soDienThoai" ng-pattern="/^[0-9]+$/" required />
                                    <span style="color:red" ng-show="_formDetail._soDienThoai.$dirty && _formDetail._soDienThoai.$invalid">
                                        <span ng-show="_formDetail._soDienThoai.$error.pattern">SĐT phải là số</span>
                                    </span>
                                </td>
                                <td>
                                    <input type="email" style="width:100%;" name="_emails" ng-model="item.email" required />
                                    <span style="color:red" ng-show="_formDetail._emails.$dirty && _formDetail._emails.$invalid">
                                        <span ng-show="_formDetail._emails.$error.email">Không đúng <span>(VD:123@gmail.com)</span></span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="panel-footer">
                        <uib-pagination class="no-margin-vertical pagination-sm" ng-model="paged.currentPage"
                                        ng-change="pageChanged()"
                                        items-per-page="paged.itemsPerPage" ng-show="paged.totalItems > 0" total-items="paged.totalItems" max-size="paged.pageSize"
                                        boundary-links="true" num-pages="paged.totalPage"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                        </uib-pagination>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <div class="modal-footer">
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid" ng-click="save()">{{config.label.btnSubmit}}</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>