<div>
    <div class="modal-header" style="padding: 5px 5px">
        <h3 class="modal-title">{{title()}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div class="modal-body">
        <form role="form" name="_form">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label>Mã bó hàng</label><span style="color: red"> (1*) </span>
                        <input type="text" class="form-control" ng-model="target.maBoHang" name="_maBoHang" maxlength="50" required>
                        <span style="color:red" ng-show="_form._maBoHang.$dirty && _form._maBoHang.$invalid">
                            <span ng-show="_form._maBoHang.$error.required">Không được để trống</span>
                        </span>
                    </div>

                    <div class="col-md-4">
                        <label>Tên bó hàng</label><span style="color: red"> (2*)</span>
                        <input type="text" class="form-control" ng-model="target.tenBoHang" name="_tenBoHang" maxlength="300" required>
                        <span style="color:red" ng-show="_form._tenBoHang.$dirty && _form._tenBoHang.$invalid">
                            <span ng-show="_form._tenBoHang.$error.required">Không được để trống</span>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Ngày </label>
                        <div class="add-input-zone">
                            <input class="form-control" type="text" ng-model="target.ngayCT" placeholder="{{config.dateFormat}}"
                                   uib-datepicker-popup="{{config.dateFormat}}" is-open="_ngayCT" />
                            <div class="button-calender" ng-click="_ngayCT = !_ngayCT; config.delegateEvent($event);">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>Trạng thái</label>
                        <select class="form-control" ng-model="target.trangThai" ng-init="target.trangThai = 10" ng-options="opt.value as opt.text for opt in tempData.status"></select>
                    </div>
                    <div class="col-md-8">
                        <label>Nội dung chi tiết</label>
                        <input type="text" class="form-control" ng-model="target.ghiChu" />
                    </div>

                </div>
            </div>
            <div class="form-group">
            </div>
        </form>
    </div>
    <div class="modal-body">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width:3%" class="text-center">STT</th>
                    <th style="width:10%" class="text-center">Mã hàng</th>
                    <th style="width:15%" class="text-center">Tên hàng</th>
                    <th style="width:5%" class="text-center">Số lượng</th>
                    <th style="width:5%" class="text-center">Đơn giá</th>
                    <th style="width:5%" class="text-center">Tỷ lệ chiết khấu</th>
                    <th style="width:10%" class="text-center">Thành tiền</th>
                    <th style="width:5%"></th>
                </tr>
            </thead>
            <tbody ng-form name="_formAddDetail">
                <tr style="background:rgba(119, 119, 119, 0.48)">
                    <td style="text-align:center;">{{$index + 1}}</td>
                    <td>
                        <input type="hidden" ng-model="newItem.giaBanLe" />
                        <input type="hidden" ng-model="newItem.giaBanBuon" />
                        <input type="text" style="width:100%;" name="_maHang" ng-model="newItem.maHang" ng-blur="selectedMaHang(newItem.maHang)" required />
                    </td>
                    <td>
                        {{newItem.tenHang}}
                    </td>
                    <td>
                        <input format-number-input="number" style="text-align:center; width:100%" ng-model="newItem.soLuong" ng-init="newItem.soLuong = 0" ng-change="robot.changeTyLeSoLuong(newItem)">
                    </td>
                    <td>
                        <input format-number-input="number" style="text-align:center; width:100%" ng-model="newItem.donGia" ng-change="robot.changeTyLeCKLe(newItem)">
                    </td>
                    <td>
                        <input format-number-input="number" name="_tyLeCKLe" style="text-align:center; width:100%" ng-model="newItem.tyLeCKLe" ng-init="newItem.tyLeCKLe = 0" ng-change="robot.changeTyLeCKLe(newItem)" min="0" max="100">
                        <span ng-show="_formAddDetail._tyLeCKLe.$error.max">Phần trăm nhập từ: 0 đến 100</span>
                        <span ng-show="_formAddDetail._tyLeCKLe.$error.min">Phần trăm nhập từ: 0 đến 100</span>


                    </td>
                    <td>
                        <input format-number-input="number" style="text-align:center; width:100%" ng-model="newItem.tongBanLe" ng-change="robot.changeThanhTien(newItem)">
                    </td>
                    <td style="white-space: nowrap" class="text-center">
                        <div class="form-buttons form-inline">
                            <button prevent-default ng-disabled="_formAddDetail.$invalid" type="button" ng-click="addRow()" class="btn btn-default btn-sm btn-sm-add-item">{{config.label.btnCreate}}</button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody ng-form name="_formDetail">
                <tr ng-if="isLoading">
                    <td colspan="13"><my-loading></my-loading></td>
                </tr>
                <tr ng-repeat="item in data track by $index">
                    <td style="text-align:center;">{{$index + 1}}</td>
                    <td>
                        <input type="text" style="width:100%;" name="_maHang" ng-model="item.maHang" ng-blur="selectedMaHang(item.maHang)" disabled />
                    </td>
                    <td>
                        {{item.tenHang}}
                    </td>
                    <td>
                        <input format-number-input="number" style="text-align:center; width:100%" ng-model="item.soLuong" ng-change="robot.changeTyLeSoLuong(item)">
                    </td>
                    <td>
                        <input format-number-input="number" style="text-align:center; width:100%" ng-model="item.donGia" ng-change="robot.changeTyLeCKLe(item)">
                    </td>
                    <td>
                        <input format-number-input="number" name="_tyLeCKLe" style="text-align:center; width:100%" ng-model="item.tyLeCKLe" ng-init="newItem.tyLeCKLe = 0" ng-change="robot.changeTyLeCKLe(item)" min="0" max="100">
                        <span ng-show="_formAddDetail._tyLeCKLe.$invalid">Phần trăm nhập từ: 0 đến 100</span>

                    </td>
                    <td>
                        <input format-number-input="number" style="text-align:center; width:100%" ng-model="item.tongBanLe" ng-change="robot.changeThanhTien(item)">
                    </td>
                    <td style="white-space: nowrap" class="text-center">
                        <button prevent-default type="button" style="height: 20px; line-height: 2px;background: rgba(255, 213, 93, 0.61);" ng-click="removeItem($index)" class="btn btn-default btn-sm">
                            Xóa
                        </button>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%" colspan="5"></td>
                    <td nowrap style="text-align:right;"><label>Tổng tiền:</label></td>
                    <td nowrap style="text-align:right; width:20%"> <span style="color:red;font-weight:bold"><b>{{robot.sum(target.dataDetails, 'tongBanLe') | number}}</b></span></td>
                </tr>

            </tbody>
        </table>
        <div class="panel-footer">
            <uib-pagination class="no-margin-vertical pagination-sm" ng-model="paged.currentPage"
                            ng-change="pageChanged()"
                            items-per-page="paged.itemsPerPage" ng-show="paged.totalItems > 0" total-items="paged.totalItems" max-size="paged.pageSize"
                            boundary-links="true" num-pages="paged.totalPage"
                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
            </uib-pagination>
        </div>

    </div>
    <div class="modal-footer">
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid || _formDetail.$invalid" ng-click="save()">{{config.label.btnSubmit}}</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>