<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}  {{lbl.lblCreate}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div class="modal-body">

        <form role="form" name="_form">
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Mã số thuế</label><span style="color: red"> (*)</span>
                    <input type="text" class="form-control" ng-model="target.maSoThue" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.companies | filter:$viewValue" typeahead-input-formatter="formatLabel($model, 'companies')" typeahead-on-select="selectedObject($item)" name="_maSoThue" required/>
                    <span style="color: red" ng-show="_form._maSoThue.$dirty && _form._maSoThue.$invalid">
                        <span ng-show="_form._maSoThue.$error.required">Không được để trống</span>
                    </span>
                </div>

                <div class="col-lg-6">
                    <label>Doanh nghiệp</label><span style="color: red"> (*)</span>
                    <select class="form-control" ng-options="opt.id as opt.description for opt in tempData.companies" ng-model="target.maDoanhNghiep" name="_maDoanhNghiep" ng-change="objectChange(target.maDoanhNghiep)" required>
                        <option value="">-- Lựa chọn đơn vị --</option>
                    </select>
                    <span style="color: red" ng-show="_form._maDoanhNghiep.$dirty && _form._maDoanhNghiep.$invalid">
                        <span ng-show="_form._maDoanhNghiep.$error.required">Không được để trống</span>
                    </span>
                </div>


            </div>

            <div class="row form-group">

                <div class="col-lg-6">
                    <label>Mã hải quan</label><span style="color: red"> (*)</span>
                    <input type="text" class="form-control" ng-model="target.idHaiQuan" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.donViHaiQuans | filter:$viewValue" typeahead-input-formatter="formatLabel($model, 'donViHaiQuans')" typeahead-on-select="selectedCustom($item)" name="_idHaiQuan" required />
                    <span style="color: red" ng-show="_form._idHaiQuan.$dirty && _form._idHaiQuan.$invalid">
                        <span ng-show="_form._idHaiQuan.$error.required">Không được để trống</span>
                    </span>
                </div>

                <div class="col-lg-6">
                    <label>Đơn vị hải quan chủ quản</label><span style="color: red"> (*)</span>

                    <select class="form-control" ng-options="opt.value as opt.description for opt in tempData.donViHaiQuans" ng-model="target.donViHaiQuanChuQuan" name="_maHaiQuan" ng-change="customChange()" required>
                        <option value="">-- Lựa chọn đơn vị --</option>
                    </select>
                    <span style="color: red" ng-show="_form._maHaiQuan.$dirty && _form._maHaiQuan.$invalid">
                        <span ng-show="_form._maHaiQuan.$error.required">Không được để trống</span>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Mã cửa hàng</label><span style="color: red"> (*)</span>
                    <input type="text" class="form-control" ng-model="target.maDonVi" name="_code" maxlength="50" required disabled>
                    <span style="color: red" ng-show="_form._code.$dirty && _form._code.$invalid">
                        <span ng-show="_form._code.$error.required">Mã đơn vị không được để trống</span>
                    </span>
                </div>
                <div class="col-lg-6">
                    <label>Tên cửa hàng</label><span style="color: red"> (*)</span>
                    <input type="text" class="form-control" ng-model="target.tenDonVi" name="_unitUserName" maxlength="300" required />
                    <span style="color: red" ng-show="_form._unitUserName.$dirty && _form._unitUserName.$invalid">
                        <span ng-show="_form._unitUserName.$error.required">Tên đơn vị không được để trống</span>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Địa chỉ</label><span style="color: red"> (*)</span>
                    <input type="text" class="form-control" name="_diaChi" ng-model="target.diaChiDonVi">

                </div>
                <div class="col-lg-6">
                    <label>Số điện thoại</label><span style="color: red"> (*)</span>
                    <input type="text" name="_SoDienThoai" class="form-control" ng-model="target.soDienThoai" ng-pattern="/^[0-9]+$/" required>
                    <span style="color:red" ng-show="_form._SoDienThoai.$dirty && _form._SoDienThoai.$invalid">
                        <span ng-show="_form._SoDienThoai.$error.required">Không được để trống</span>
                        <span ng-show="_form._SoDienThoai.$error.pattern">Ký tự bắt buộc phải là số</span>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Email</label><span style="color: red"> (*)</span>
                    <input type="email" name="_emails" class="form-control" ng-model="target.email">
                    <span style="color: red" ng-show="_form._emails.$dirty && _form._emails.$invalid">
                        <span ng-show="_form._emails.$error.email">Không hợp lệ <span>(Ví dụ: 123@gmail.com)</span></span>
                    </span>
                </div>

                <div class="col-lg-6">
                    <label>Tỉnh/Thành phố</label><span style="color: red"> (*)</span>
                    <input type="text" name="_tinhthanh" class="form-control" ng-model="target.tinh" uib-typeahead="opt.value as opt.text for opt in tempData.tinhs | filter:$viewValue | limitTo:5" typeahead-editable="false" typeahead-input-formatter="formatLabel($model, 'tinhs')" required>
                    <span style="color:red" ng-show="_form._tinhthanh.$dirty && _form._tinhthanh.$invalid">
                        <span ng-show="_form._tinhthanh.$error.required">Không được để trống</span>
                    </span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Họ tên người liên hệ</label><span style="color: red"> (*)</span>
                    <input type="text" name="_tennguoilienhe" class="form-control" ng-model="target.hoTenNguoiLienHe" required>
                    <span style="color: red" ng-show="_form._tennguoilienhe.$dirty && _form._tennguoilienhe.$invalid">
                        <span ng-show="_form._tennguoilienhe.$error.required">Không được để trống</span>
                    </span>
                </div>
                <div class="col-lg-6">
                    <label>Chức vụ người liên hệ</label><span style="color: red"> (*)</span>
                    <input type="text" name="_chucvunguoilienhe" class="form-control" ng-model="target.chucVuNguoiLienHe" required>
                    <span style="color: red" ng-show="_form._chucvunguoilienhe.$dirty && _form._chucvunguoilienhe.$invalid">
                        <span ng-show="_form._chucvunguoilienhe.$error.required">Không được để trống</span>
                    </span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-12">
                    <label>Loại hình cửa hàng</label><span style="color: red"> (*)</span>
                    <tags-input class="bootstrap" name="_loaiHinhCuaHang" ng-model="tagdoiTuongs" typeahead-editable="false"
                                placeholder="Thêm loại hình" replace-spaces-with-dashes="false" required>
                        <auto-complete source="loadDoiTuong($query)" min-length="0" debounce-delay="0" max-results="10"></auto-complete>
                    </tags-input>
                    <span style="color:red" ng-show="_form._loaiHinhCuaHang.$dirty && _form._loaiHinhCuaHang.$invalid">
                        <span ng-show="_form._loaiHinhCuaHang.$error.required">Không được để trống </span>
                    </span>
                </div>
            </div>


            <div class="row form-group">
                <div class="col-lg-12">
                    <label>Đối tượng khách hàng</label><span style="color: red"> (*)</span>
                    <tags-input class="bootstrap" name="_customerTypes" ng-model="tagCustomerTypes" typeahead-editable="false"
                                placeholder="Thêm loại hình" replace-spaces-with-dashes="false" required>
                        <auto-complete source="loadCustomerType($query)" min-length="0" debounce-delay="0" max-results="10"></auto-complete>
                    </tags-input>
                    <span style="color: red" ng-show="_form._customerTypes.$dirty && _form._customerTypes.$invalid">
                        <span ng-show="_form._customerTypes.$error.required">Không được để trống </span>
                    </span>
                </div>
            </div>


        </form>

    </div>
    <div class="modal-footer">
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid" ng-click="save()">{{config.label.btnSubmit}}</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>
