<div class="panel panel-default">
    <div class="panel-heading">
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
        <div class="btn-group">
            <button class="btn btn-default" prevent-default title="In danh sách" ng-click="print()"><span class="glyphicon glyphicon-print"></span>&ensp;In</button>
        </div>
    </div>
    <div class="panel-body">
        <div id="main-report">
            <br />
            <style>
                .date-time,
                th,
                td,
                span {
                    font-size: 14px;
                    font-family: 'Times New Roman';
                }

                th,
                td {
                    padding: 2px;
                }

                .header-report {
                    margin-bottom: 30px;
                }

                    .header-report table,
                    .infor-report table {
                        width: 100%;
                        padding-left: 20px;
                        border: 0;
                    }

                .infor-report {
                    padding-left: 10px;
                }

                .data-report table {
                    width: 100%;
                    border: 1px solid;
                    border-collapse: collapse;
                }

                    .data-report table thead tr th,
                    .data-report table tbody.data-detail tr td {
                        border: 1px solid;
                    }

                    .data-report table tbody.data-detail tr td {
                        font-size: 13px !important;
                    }

                .infor-report table tr td {
                    position: relative;
                }

                .dotted-description {
                    position: absolute;
                    width: calc(100% - 110px);
                    border-bottom: 1px dotted;
                }

                .signature-place table {
                    width: 100%;
                }

                .signature-place .date-time {
                    float: right;
                    font-style: italic;
                    padding: 10px 30px 5px 10px;
                }

                .signature-place table thead tr th {
                    text-align: center;
                }

                .signature-place table tbody tr td {
                    text-align: center;
                }

                .end-page {
                    height: 100px;
                }

                .label-info-report {
                    float: left;
                    font-weight: bold;
                }

                .info-company-top-left {
                    float: left;
                    text-align: left;
                    font-weight: bold;
                }

                .info-datereport-top-right {
                    float: right;
                    text-align: right;
                    font-style: italic;
                }

                .name-report {
                    text-align: center;
                    font-weight: bold;
                    font-size: 22px !important;
                    padding: 5px;
                }

                .info-contract-attachment {
                    text-align: center;
                    font-style: italic;
                }

                .text-center {
                    text-align: center;
                    font-weight: bold;
                }

                .name-tong-hop {
                    text-align: right;
                    font-weight: bold;
                }

                .value-tong-hop {
                    font-weight: bold;
                    text-align: right;
                }

                .unitCustom {
                    text-transform: uppercase;
                }
            </style>

            <div id="dataTable">
                <div class="header-report">
                    <table>
                        <tr>
                            <td class="info-company-top-left">
                                <p class="unitCustom" ng-show="objUser.idHaiQuan == '01'" style="text-align:center"><b>BỘ TÀI CHÍNH</b></p>
                                <p class="unitCustom" ng-show="objUser.idHaiQuan !== '01'" style="text-align:center">{{nameOfCustom}}</p>
                                <p class="unitCustom">{{displayHelper(objUser.idHaiQuan,'donViHaiQuans')}}</p>
                            </td>
                            <td class="info-datereport-top-right">
                                Ngày in: {{target.createDay}}/{{target.createMonth}}/{{target.createYear}}
                            </td>
                        </tr>
                    </table>
                    <div class="row name-report">
                        PHIẾU KÊ KHAI HÀNG HÓA NHẬP KHO DOANH NGHIỆP TỪ NGUỒN HÀNG TẠM NHẬP
                    </div>


                </div>
                <div class="infor-report">
                    <table>
                        <tr>
                            <td colspan="2">
                                <div class="label-info-report">Doanh nghiệp: </div>
                                <span>&nbsp;{{displayHelper(target.maDoanhNghiep,'companies')}}</span>
                            </td>
                            <td colspan="2">
                                <div class="label-info-report">Đơn vị hải quan chủ quản:</div>
                                <span>&nbsp;{{nameOfObject(target.maHaiQuan,'donViHaiQuans')}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="label-info-report">Số phiếu nhập: </div>
                                <span>&nbsp;{{target.maChungTu}}</span>
                            </td>
                            <td colspan="2">
                                <div class="label-info-report">Kho nhập: </div>
                                <span>&nbsp;{{target.tenKho}}</span>
                            </td>
                            <td colspan="2">
                                <div class="label-info-report">Ngày hạch toán: </div>
                                <span>&nbsp;{{target.ngayCT | date : "dd/MM/yyyy"}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="label-info-report">Số chứng từ: </div>
                                <span>&nbsp;{{target.maHoaDon}}</span>
                            </td>
                            <td colspan="2">
                                <div class="label-info-report">Ngày chứng từ: </div>
                                <span>&nbsp;{{target.ngayHoaDon | date: "dd/MM/yyyy"}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="label-info-report">Số hợp đồng: </div>
                                <span>&nbsp;{{target.soHd}}</span>
                            </td>
                            <td colspan="2">
                                <div class="label-info-report">Nhà cung cấp: </div>
                                <span>&nbsp;{{target.tenKhachHang}}</span>
                            </td>
                            <td colspan="2">
                                <div class="label-info-report">Loại tiền: </div>
                                <span>&nbsp;{{target.ngoaiTe}}</span>
                            </td>

                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="label-info-report">Người nhận:</div>
                                <span>
                                    &nbsp;{{target.nguoiNhan}}
                                </span>
                            </td>
                            <td colspan="2">
                                <div class="label-info-report">Loại tiền:</div>
                                <span>
                                    &nbsp;{{target.ngoaiTe}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div class="label-info-report">Diễn giải:</div>
                                <span>
                                    &nbsp;{{target.noiDung}}
                                </span>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>
            <br>
            <div class="data-report">
                <table>
                    <thead>
                        <tr>
                            <th class="text-center" rowspan="2" style="width: 5%">STT</th>
                            <th class="text-center" colspan="4">Thông tin hàng hóa</th>

                            <th class="text-center" rowspan="2" style="width: 5%">SL</th>
                            <th class="text-center" rowspan="2" style="width: 15%;">Đơn giá</th>
                            <th class="text-center" rowspan="2" style="width: 15%;">Thành tiền</th>
                        </tr>
                        <tr>
                            <th class="text-center" style="width: 10%">Mã HS</th>
                            <th class="text-center" style="width: 10%">Mã hàng</th>
                            <th class="text-center" style="width: 40%">Tên hàng</th>
                            <th class="text-center" style="width: 5%">ĐVT</th>
                        </tr>
                    </thead>
                    <tbody class="data-detail">
                        <tr ng-repeat="item in target.dataReportDetails">
                            <td style="text-align:center;">{{$index + 1}}</td>
                            <td>
                                {{item.maNhomVatTu}}
                            </td>
                            <td>
                                {{item.maHang}}
                            </td>
                            <td>
                                {{item.tenHang}}
                            </td>
                            <td>
                                {{item.donViTinh}}
                            </td>
                            <td style="text-align:center;">
                                {{item.soLuong}}
                            </td>
                            <td style="text-align:right;">
                                {{item.donGia | number}}
                            </td>
                            <td style="text-align:right;">
                                {{item.thanhTien | number}}
                            </td>
                        </tr>
                    </tbody>
                    <tbody class="tong-hop">
                        <tr>
                            <td class="name-tong-hop" colspan="7">Tổng số lượng:</td>
                            <td class="value-tong-hop" colspan="2">{{robot.sum(target.dataReportDetails, 'soLuong') | number}}</td>
                        </tr>

                        <tr>
                            <td colspan="7" class="name-tong-hop">Tổng thành tiền:</td>
                            <td class="value-tong-hop" colspan="2">{{target.thanhTienSauVat | number}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class=end-page></div>
        </div>
    </div>
</div>