<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close" ></i>
        </div>
    </div>
    <div class="modal-body">
        <form role="form" name="_form">
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Tên đơn vị</label>
                    <textarea type="text" class="form-control" ng-model="target.unitName" name="_unitName" disabled></textarea>
                </div>
                <div class="col-lg-6">
                    <label>Tên Giám đốc</label><span style="color: red"> (2*)</span>
                    <textarea type="text" class="form-control" ng-model="target.directorName" name="_directorName" disabled></textarea>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Tên kế toán trưởng</label>
                    <textarea type="text" class="form-control" ng-model="target.chiefAccountantName" name="_chiefAccountantName" disabled></textarea>
                </div>
                <div class="col-lg-6">
                    <label>Văn bản, thông tư</label><span style="color: red"> (2*)</span>
                    <textarea type="text" class="form-control" ng-model="target.document" name="_document" disabled></textarea>
                </div>
            </div>
            <div class="row form-group">
                <label>Ngày hiệu lực</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="target.effectDate" placeholder="{{config.dateFormat}}"
                           uib-datepicker-popup="{{config.dateFormat}}" is-open="EffectDate" datepicker-localdate disabled/>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button prevent-default type="submit" class="btn btn-primary" ng-click="save()">{{config.label.btnSubmit}}</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>