<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}  {{lbl.lblCreate}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div class="modal-body">
        <form role="form" name="_form">
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Tên đăng nhập</label><span style="color: red"> (1*)</span>
                    <input type="text" class="form-control" ng-model="target.username" name="_Username" required disabled>
                    <span style="color:red" ng-show="_form._Username.$dirty && _form._Username.$invalid">
                        <span ng-show="_form._Username.$error.required">Không được để trống</span>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Mật khẩu cũ</label><span></span>
                    <input type="password" id="oldFocus" class="form-control" ng-pattern="/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$/" ng-model="target.password" ng-change="certi(target.password);" name="_oldPassword">
                    <span style="color:red" ng-show="_form._oldPassword.$dirty && _form._oldPassword.$invalid">
                        <span ng-show="_form._oldPassword.$error.pattern">Mật khẩu phải có 6 ký tự trở lên bắt buộc phải có số, ký tự đặc biệt!</span>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Nhập mật khẩu mới</label><span ng-show="newPass" style="color: blue">(  Nhập mật khẩu mới !)</span>
                    <input type="password" id="newFocus" class="form-control" ng-pattern="/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$/" ng-disabled="!newPass" ng-model="target.newPassword" name="_newPassword">
                    <span style="color:red" ng-show="_form._newPassword.$dirty && _form._newPassword.$invalid">
                        <span ng-show="_form._newPassword.$error.pattern">Mật khẩu phải có 6 ký tự trở lên bắt buộc phải có số, ký tự đặc biệt!</span>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid" ng-click="save()">{{config.label.btnSubmit}}</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>