<div class="panel panel-default">
    <div class="panel-heading">
        <div class="button-close" ng-click="goIndex()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
        <div class="btn-group">
            <button class="btn btn-default" prevent-default title="In danh sách" ng-click="print()"><span class="glyphicon glyphicon-print"></span>&ensp;In</button>
            <button class="btn btn-default" prevent-default title="In danh sách" ng-click="printExcel()"><span class="glyphicon glyphicon-print"></span>&ensp;Xuất Excel</button>
        </div>
    </div>
    <div class="panel-body">
        <div id="main-report">
            <br />
            <style>
                .date-time,
                th,
                td,
                span {
                    font-size: 14px;
                    font-family: 'Times New Roman';
                }

                th,
                td {
                    padding: 2px;
                }

                .header-report {
                    margin-bottom: 30px;
                }

                    .header-report table,
                    .infor-report table {
                        width: 100%;
                        padding-left: 20px;
                        border: 0;
                    }

                .infor-report {
                    padding-left: 10px;
                }

                .data-report table {
                    width: 100%;
                    border: 1px solid;
                    border-collapse: collapse;
                }

                    .data-report table thead tr th,
                    .data-report table tbody.data-detail tr td {
                        border: 1px solid;
                    }

                    .data-report table tbody.data-detail tr td {
                        font-size: 13px !important;
                    }

                .infor-report table tr td {
                    position: relative;
                }

                .dotted-description {
                    position: absolute;
                    width: calc(100% - 110px);
                    border-bottom: 1px dotted;
                }

                .signature-place table {
                    width: 100%;
                }

                .signature-place .date-time {
                    float: right;
                    font-style: italic;
                    padding: 10px 30px 5px 10px;
                }

                .signature-place table thead tr th {
                    text-align: center;
                }

                .signature-place table tbody tr td {
                    text-align: center;
                }

                .end-page {
                    height: 100px;
                }

                .label-info-report {
                    float: left;
                    font-weight: bold;
                }

                .info-company-top-left {
                    float: left;
                    text-align: left;
                    font-weight: bold;
                }

                .info-datereport-top-right {
                    float: right;
                    text-align: right;
                    font-style: italic;
                }

                .name-report {
                    text-align: center;
                    font-weight: bold;
                    font-size: 22px !important;
                    padding: 5px;
                }

                .info-contract-attachment {
                    text-align: center;
                    font-style: italic;
                }

                .text-center {
                    text-align: center;
                    font-weight: bold;
                }

                .name-tong-hop {
                    text-align: right;
                    font-weight: bold;
                }

                .value-tong-hop {
                    font-weight: bold;
                    text-align: right;
                }
            </style>

            <div id="dataTable">

                <div class="header-report">
                    <table>
                        <tr>
                            <td class="info-company-top-left">
                                <!--{{target.tenDonVi}}
                                <br>{{target.diaChiDonVi}}-->
                                TỔNG CỤC HẢI QUAN
                            </td>
                            <!--<td class="info-datereport-top-right">
                                Ngày in: {{target.createDay}}/{{target.createMonth}}/{{target.createYear}}
                                <br>Người in: {{target.username}}
                            </td>-->
                        </tr>
                    </table>
                    <div class="row name-report">
                        BÁO CÁO THANH KHOẢN
                    </div>
                </div>
                <div class="infor-report">
                    <table>
                        <tr>
                            <td colspan="2">
                                <div class="label-info-report">Hải quan: </div>
                                <span>&nbsp;{{target.maHaiQuan}} &nbsp; - &nbsp; {{target.tenHaiQuan}}</span>
                            </td>
                            <!--<td colspan="2">
                                <div class="label-info-report">Doanh nghiệp: </div>
                                <span>&nbsp;{{target.maDoanhNghiep}} &nbsp; - &nbsp; {{target.tenDoanhNghiep}}</span>
                            </td>-->
                        </tr>
                    </table>
                </div>
            </div>
            <br>
            <div class="data-report">
                <table>
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 5%">STT</th>
                            <th class="text-center" style="width: 19%">Số tờ khai</th>
                            <th class="text-center" style="width: 19%">Ngày tờ khai</th>
                            <th class="text-center" style="width: 19%">Gia hạn đến ngày</th>
                            <th class="text-center" style="width: 19%">Ngày thanh khoản</th>
                            <th class="text-center" style="width: 19%">Người thanh khoản</th>
                        </tr>
                    </thead>
                    <tbody class="data-detail">
                        <tr ng-repeat="item in target.dataDetail">
                            <td style="text-align:center;">{{$index + 1}}</td>
                            <td style="text-align:center;">
                                {{item.soToKhai}}
                            </td>
                            <td style="text-align:center;">
                                {{item.ngayToKhai | date : "dd/MM/yyyy"}}
                            </td>
                            <td style="text-align:center;">
                                {{item.ngayGiaHan | date : "dd/MM/yyyy"}}
                            </td>
                            <td style="text-align:center;">
                                {{item.ngayThanhKhoan | date : "dd/MM/yyyy"}}
                            </td>
                            <td style="text-align:center;">
                                {{item.nguoiThanhKhoan}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="signature-place">
            </div>
            <div class=end-page></div>
        </div>
    </div>
</div>