<div class="panel panel-default">
    <div class="panel-heading">
        <div class="button-close" ng-click="goIndex()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
        <div class="btn-group">
            <button class="btn btn-default" prevent-default title="In danh sách" ng-click="print()"><span class="glyphicon glyphicon-print"></span>&ensp;In</button>
            <button class="btn btn-default" prevent-default title="In danh sách" ng-click="printExcel()"><span class="glyphicon glyphicon-print"></span>&ensp;Xuất Excel</button>
        </div>
    </div>
    <div class="panel-body">
        <div id="main-report">
            <br />
            <div id="dataTable">
                <style>
                    th,
                    td {
                        padding: 5px;
                    }

                    table {
                        margin: 0 auto;
                    }

                    .header-report {
                        margin-bottom: 50px;
                    }

                        .header-report table,
                        .infor-report table {
                            width: 100%;
                            border: 0;
                        }

                    .data-report table {
                        width: 100%;
                        border: 1px solid;
                        border-collapse: collapse;
                    }

                        .data-report table tr,
                        .data-report table tr td,
                        .data-report table tr th {
                            border: 1px solid;
                        }

                    .header-report table tr {
                        text-align: center;
                    }

                    .header-report table tbody tr td {
                        width: 30%;
                    }

                    .infor-report table tr td {
                        position: relative;
                    }

                    .dotted-description {
                        position: absolute;
                        width: calc(100% - 110px);
                        border-bottom: 1px dotted;
                    }

                    .signature-place table {
                        width: 100%;
                    }

                        .signature-place table thead tr th {
                            width: 33.33%;
                            text-align: center;
                        }

                        .signature-place table tbody tr td {
                            height: 150px;
                        }

                    .label-info-report {
                        float: left;
                        width: 110px;
                    }
                </style>
                <div class="header-report">
                    <table>
                        <tr>
                            <td>
                                ISO 9001
                                <Br>ISO 2200
                            </td>
                            <td>CÔNG TY CỔ PHẦN DỊCH VỤ HÀNG KHÔNG SÂN BAY TÂN SƠN NHẤT</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="data-report">
                <table>
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center">Mã hàng</th>
                            <th class="text-center">Tên hàng</th>
                            <th class="text-center">Số seri</th>
                            <th class="text-center">Đvt</th>
                            <th class="text-center">Hạn sử dụng</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Giá vốn</th>
                            <th class="text-center">Tiền vốn</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="item in target.data">
                        <tr>
                            <td style="text-align:left;" colspan="9"><b>{{item.maHs}}</b></td>
                        </tr>
                        <tr ng-repeat="itemdetail in item.dataDetails">
                            <td style="text-align:center">
                                {{$index+1}}
                            </td>
                            <td>{{itemdetail.maHang}}</td>
                            <td>{{itemdetail.tenHang}}</td>
                            <td>{{itemdetail.serialNumber}}</td>
                            <td>{{itemdetail.donViTinh}}</td>
                            <td>{{itemdetail.hanSuDung}}</td>
                            <td>{{itemdetail.soLuong}}</td>
                            <td>{{itemdetail.donGia}}</td>
                            <td>{{itemdetail.thanhTien}}</td>

                        </tr>

                        </tbody>
                </table>
            </div>

            <div class="signature-place">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Ngày {{target.createDay}} tháng {{target.createMonth}} năm {{target.createYear}}</th>
                        </tr>
                        <tr>
                            <th>Giám đốc</th>
                            <th>Kế toán trưởng</th>
                            <th>Người lập phiếu</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>