<div class="panel panel-default">
    <div class="panel-heading panel-toolbar">
        <h3 class="modal-title">{{title()}}</h3>
        <div class="button-close" ng-click="goHome()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <div class="form-group">
                <label>Tên đăng nhập</label>
                <input type="text" class="form-control" ng-model="filtered.advanceData.username" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Mã đơn vị HQ</label>
                <input type="text" class="form-control" ng-model="filtered.advanceData.maHaiQuan" ng-change="onChangeMaHaiQuan(filtered.advanceData.maHaiQuan)" name="_idHaiQuan" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Tên đơn vị HQ</label>
                <select class="form-control" ng-options="opt.value as opt.description for opt in lstDonViHaiQuan" ng-model="filtered.advanceData.maHaiQuan" name="_maHaiQuan" ng-change="onChangeMaHaiQuan(filtered.advanceData.maHaiQuan)">
                    <option value="">-- Lựa chọn đơn vị --</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button prevent-default style="float:left;margin-left:15px;" class="btn btn-primary" title="create new item." ng-click="create()">&ensp;{{config.label.btnCreate}}</button>
        </div>
        <div class="col-md-8">
            <button style="float:right;margin-right:15px;" class="btn btn-default" prevent-default title="Tìm kiếm" ng-click="doSearch(filtered)">&ensp;{{config.label.btnSearch}}</button>
        </div>

    </div>

    <div class="panel-body">
        <table class="table table-striped table-hover no-margin-vertical">
            <thead>
                <tr class="headings">
                    <th class="column-title">#</th>
                    <th class="column-title">
                        <a class="title" href="" ng-click="sortType = 'username'; sortReverse = !sortReverse">
                            UserName
                            <span ng-show="sortType == 'username' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'username' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th class="column-title">
                        <a class="title" href="" ng-click="sortType = 'fullName'; sortReverse = !sortReverse">
                            Họ và tên
                            <span ng-show="sortType == 'fullName' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'fullName' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th class="column-title">
                        <a class="title" href="" ng-click="sortType = 'email'; sortReverse = !sortReverse">
                            Email
                            <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th class="column-title">
                        <a class="title" href="" ng-click="sortType = 'custom'; sortReverse = !sortReverse">
                            Đơn vị Hải quan
                            <span ng-show="sortType == 'custom' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'custom' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th class="column-title">
                        <a class="title" href="" ng-click="sortType = 'address'; sortReverse = !sortReverse">
                            Mô tả
                            <span ng-show="sortType == 'address' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'address' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th class="column-title">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="isLoading">
                    <td colspan="7"><my-loading></my-loading></td>
                </tr>
                <tr class="even pointer" ng-repeat="item in data | orderBy:sortType:sortReverse" ng-dblclick="details(item)">
                    <td>{{$index + 1}}</td>
                    <td>{{item.username}}</td>
                    <td>{{item.fullName}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.fullName}}</td>
                    <td>{{item.description}}</td>
                    <td class="table-control btn-group">
                        <a class="glyphicon glyphicon-info-sign" ng-click="details(item)" data-toggle="tooltip" data-placement="top" title="Chi tiết"></a> &nbsp;&nbsp;&nbsp;
                        <a class="glyphicon glyphicon-pencil" ng-click="update(item)" data-toggle="tooltip" data-placement="top" title="Sửa"></a> &nbsp;&nbsp;&nbsp;
                        <a class="glyphicon glyphicon-user" ng-click="reset(item)" data-toggle="tooltip" data-placement="top" title="Reset Password"></a> &nbsp;&nbsp;&nbsp;
                        <a class="glyphicon glyphicon-trash" ng-click="deleteItem($event, item)" data-toggle="tooltip" data-placement="top" title="Xóa"></a> &nbsp;&nbsp;&nbsp;
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <uib-pagination class="no-margin-vertical pagination-sm" ng-model="paged.currentPage"
                        ng-change="pageChanged()"
                        items-per-page="paged.itemsPerPage" ng-show="paged.totalItems > 0" total-items="paged.totalItems" max-size="paged.pageSize"
                        boundary-links="true" num-pages="paged.totalPage"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
        </uib-pagination>
    </div>
</div>
