<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div class="modal-body">
        <form role="form">
            <input type="hidden" ng-model="target.id">
            <div class="row form-group" ng-repeat="item in lstAccount">
                <div class="col-lg-6">
                    <label>Tên đăng nhập</label>
                    <input type="text" class="form-control" ng-model="item.username" disabled>
                </div>
                <div class="col-lg-6">
                    <label>Mật khẩu</label>
                    <input type="text" class="form-control" ng-model="item.password" disabled>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button prevent-default class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span>&ensp;{{config.label.btnCancel}}</button>
    </div>
</div>