<form></form><!-- KHông hiểu sao để thế này thì nó mới không bị lỗi T_T-->
<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <div class="md-style-label-input">
                        Số chứng từ <span style="color:red">(*)</span>
                    </div>
                    <div class="md-4-style-input">
                        <input name="_maChungTu"class="input-border-form" type="text" ng-model="target.maChungTu" required>
                        <span style="color:red" ng-show="_form._maChungTu.$dirty && _form._maChungTu.$invalid">
                            <span ng-show="_form._maChungTu.$error.required">Không được để trống</span>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="md-style-label-input">
                        Ngày
                    </div>
                    <div class="md-4-style-input">
                        <div class="add-input-zone">
                            <input class="input-border-form" type="text" ng-model="target.ngay" placeholder="{{config.dateFormat}}"
                                   uib-datepicker-popup="{{config.dateFormat}}" is-open="_ngay" datepicker-localdate/>
                            <div class="button-calender" ng-click="_ngay = !_ngay; config.delegateEvent($event);">
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-8">
                    <div class="md-style-label-input">
                        Nhận của ai 
                    </div>
                    <div class="md-8-style-input">
                        <textarea class="input-border-form" focus="true" name="_doituong" style="width:100%;" rows="1" ng-model="target.doiTuong"></textarea>
                    </div>
                  </div>
                <div class="col-md-4">
                    <div class="md-style-label-input">
                        Số hợp đồng 
                    </div>
                    <div class="md-4-style-input">
                        <input class="input-border-form" type="text" ng-model="target.soHd" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.contracts | filter:$viewValue" typeahead-input-formatter="formatLabel($model, 'contracts')" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="md-style-label-input">
                        Địa chỉ
                    </div>
                    <div class="md-12-style-input">
                        <textarea class="input-border-form" name="_diachi" style="width:100%;" rows="1" ng-model="target.diaChi"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="md-style-label-input">
                        Lý do 
                    </div>
                    <div class="md-12-style-input">
                        <textarea class="input-border-form" style="width:100%;" ng-model="target.lyDo" rows="1"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div>
            <form name="_tableForm">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr style="font-weight: bold">
                                <th style="width:5%" class="text-center">STT</th>
                                <th style="width:10%" class="text-center">Có tài khoản</th>
                                <th style="width:35%" class="text-center">Khách hàng</th>
                                <th style="width:20%" class="text-center">Số tiền</th>
                                <th style="width:10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in data">
                                <td class="text-center">{{$index + 1}}</td>
                                <td>
                                    <input type="text" style="width:100%;" ng-model="item.tkCo" name="_tkCo_{{$index}}" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.accounts | filter:$viewValue" required />
                                    <span style="color:red" ng-show="_tableForm['_tkCo_{{$index}}'].$dirty && _tableForm['_tkCo_{{$index}}'].$invalid">
                                        <span style="color:red; font-size:10px">Không hợp lệ</span>
                                    </span>
                                </td>
                                <td>
                                    <input type="text" style="width:100%;" name="_makhachHang_{{$index}}" ng-model="item.maKhachHang" typeahead-editable="false"  uib-typeahead="opt.value as opt.text for opt in tempData.customers | filter:$viewValue" typeahead-input-formatter="formatLabel($model, 'customers')" required />
                                    <span style="color:red" ng-show="_tableForm['_makhachHang_{{$index}}'].$dirty && _tableForm['_makhachHang_{{$index}}'].$invalid">
                                        <span style="color:red; font-size:10px">Không hợp lệ</span>
                                    </span>
                                </td>
                                <td>
                                    <input ng-change="sum()" style="width:100%; text-align: right;" type="number" ng-model="item.soTien" />
                                </td>
                                <td style="white-space: nowrap" class="text-center">
                                    <!-- form -->
                                    <div class="form-buttons form-inline">
                                        <button prevent-default type="button" style="height: 20px; line-height: 2px;background: rgba(255, 213, 93, 0.61);" ng-click="removeRow($index)" class="btn btn-default btn-sm">
                                            Xóa
                                        </button>
                                        <button prevent-default type="button" class="btn btn-default btn-sm btn-sm-add-item" ng-click="addRow()">{{config.label.btnCreate}}</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <div class="form-group">
        <label style="color:red; font:bold" class="control-label col-md-4 col-md-offset-8">Tổng tiền: {{total | number}}</label>
    </div>
</div>
<div class="modal-footer">
    <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_tableForm.$invalid || _formThu.$invalid" ng-click="saveAndKeep()">{{config.label.btnSaveAndKeep}}</button>
    <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_tableForm.$invalid || _formThu.$invalid" ng-click="saveAndPrint()">{{config.label.btnSaveAndPrint}}</button>
    <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_tableForm.$invalid || _formThu.$invalid" ng-click="save()">{{config.label.btnSubmit}}</button>
    <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
</div>

