<form></form><!-- KHông hiểu sao để thế này thì nó mới không bị lỗi T_T-->
<div>
    <div class="modal-header" style="padding: 5px 5px">
        <h3 class="modal-title">{{title()}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close" ></i>
        </div>
    </div>
    <div class="modal-body" style="padding: 10px 15px">
        <form role="form" name="_formXuatBan" class="form-validation">
            <div class="form-group">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="md-style-label-input">
                                Số chứng từ 
                            </div>
                            <div class="md-4-style-input">
                                <input class="input-border-form" type="text" ng-model="target.maChungTu" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="md-style-label-input">
                                Ngày chứng từ 
                            </div>
                            <div class="md-4-style-input">
                                <input class="input-border-form" style="width: 100%; float:left;" type="text" ng-model="target.ngayCT" placeholder="{{config.dateFormat}}"
                                       uib-datepicker-popup="{{config.dateFormat}}" is-open="_ngayct" datepicker-localdate disabled/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-style-label-input">
                            Nội dung 
                        </div>
                        <div class="md-12-style-input">
                            <textarea class="input-border-form" focus="true" name="_noidung" style="width:100%;" rows="1" ng-model="target.noiDung" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Số tiền 
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" format-number-input="number" style="width:100%; text-align:right;" ng-model="target.soTien" disabled />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Số tiền bằng chữ
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" type="text" ng-model="target.soTienBangChu" disabled />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Số hợp đồng 
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" type="text" ng-model="target.soHd" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.contracts | filter:$viewValue" typeahead-input-formatter="formatLabel($model, 'contracts')" disabled/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Ghi 
                        </div>
                        <div class="md-4-style-input">
                            <select style="width:100%" class="input-border-form" ng-model="target.loaiTaiKhoan" ng-options="opt.value as opt.text for opt in tempData.loaiTKs" disabled></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Số tài khoản
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" type="text" style="width:100%;" ng-model="target.taiKhoan" name="_taiKhoan_{{$index}}" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.accounts | filter:$viewValue" disabled />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Khách hàng 
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" name="_makhachHang" type="text" ng-model="target.maKhachHang" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.customers | filter:$viewValue" typeahead-input-formatter="formatLabel($model, 'customers')" disabled/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Vật tư 
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" type="text" style="width:100%;" name="_maHang" ng-model="target.maHang" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.merchandises | filter:$viewValue" typeahead-input-formatter="formatLabel($model, 'merchandises')" disabled />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-body" style="padding: 10px 15px">
        <uib-tabset active="active">
            <uib-tab index="0" heading="Chi tiết">
                <div>
                    <form name="_tableForm">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-condensed" arrow-selector data-item-target="dataDetails">
                                <thead>
                                    <tr>
                                        <th style="width:3%" class="text-center">STT</th>
                                        <th style="width:10%" class="text-center">Tài khoản</th>
                                        <th style="width:15%" class="text-center">Khách hàng</th>
                                        <th style="width:10%" class="text-center">Vật tư</th>
                                        <th style="width:10%" class="text-center">Số lượng</th>
                                        <th style="width:10%" class="text-center">Đơn giá</th>
                                        <th style="width:15%" class="text-center">Số tiền</th>
                                        <th style="width:5%" class="text-center">CT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in target.dataDetails" enter-key="addRow()" delete-key="removeRow(item)" ng-click="setIndex($index)">
                                        <td style="text-align:center;">{{$index + 1}}</td>
                                        <td>
                                            <input type="text" style="width:100%;" ng-model="item.taiKhoan" name="_tkCo_{{$index}}" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.accounts | filter:$viewValue" disabled />
                                        </td>
                                        <td>
                                            <input type="text" style="width:100%;" name="_makhachHang_{{$index}}" ng-model="item.maKhachHang" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.customers | filter:$viewValue" typeahead-input-formatter="formatLabel($model, 'customers')" disabled />
                                        </td>
                                        <td>
                                            <input autocomplete="off"  type="text" style="width:100%;" name="_maHang_{{$index}}" ng-model="item.maHang" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.merchandises | filter:$viewValue" typeahead-input-formatter="formatLabel($model, 'merchandises')" disabled />
                                        </td>
                                        <td>
                                            <input  format-number-input="number" style="text-align:center; width:100%" ng-model="item.donGia" disabled>
                                        </td>
                                        <td>
                                            <input  format-number-input="number" style="text-align:center; width:100%" ng-model="item.soLuong" disabled>
                                        </td>
                                        <td>
                                            <input format-number-input="number" style="text-align:center; width:100%" ng-model="item.soTien" disabled>
                                        </td>
                                        <td>
                                            <input type="text" style="width:100%;" name="_maKhoanMuc_{{$index}}" ng-model="item.maKhoanMuc" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.khoanMucs | filter:$viewValue" typeahead-input-formatter="formatLabel($model, 'khoanMucs')" disabled />
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </form>
                </div>
            </uib-tab>
            <uib-tab heading="Định khoản">
                <!--<div>
                    <form name="_tableForm">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th style="width:2%" class="text-center">TT</th>
                                        <th style="width:10%" class="text-center">Tài khoản nợ</th>
                                        <th style="width:10%" class="text-center">Tài khoản có</th>
                                        <th style="width:20%" class="text-center">Đối tượng nợ</th>
                                        <th style="width:20%" class="text-center">Đối tượng có</th>
                                        <th style="width:20%" class="text-center">Số tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in target.dataClauseDetails">
                                        <td style="text-align:center">{{$index + 1}}</td>
                                        <td>
                                            <input style="width:100%;" type="text" ng-model="item.tkNo" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.accounts | filter:$viewValue" />
                                        </td>
                                        <td>
                                            <input style="width:100%;" type="text" ng-model="item.tkCo" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.accounts | filter:$viewValue" />
                                        </td>
                                        <td>
                                            <input style="width:100%;" type="text" ng-model="item.doiTuongNo" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.customers | filter:$viewValue" typeahead-input-formatter="formatLabel($model, 'customers')" disabled />
                                        </td>
                                        <td>
                                            <input style="width:100%;" type="text" ng-model="item.doiTuongCo" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.wareHouses | filter:$viewValue" typeahead-input-formatter="formatLabel($model, 'wareHouses')" disabled />
                                        </td>
                                        <td>
                                            <input format-number-input="number" style="width:100%;" ng-model="item.soTien" disabled />
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </form>
                </div>-->

            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button prevent-default class="btn btn-primary" ng-if="target.trangThai != 10" ng-click="approval()">Duyệt</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>

