<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}  {{lbl.lblCreate}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div class="modal-body">
        <form role="form" name="_form">
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Tên đăng nhập</label><span style="color: red"> (1*)</span>
                    <input type="text" class="form-control" ng-model="target.username" name="_Username" required>
                    <span style="color: red" ng-show="_form._Username.$dirty && _form._Username.$invalid">
                        <span ng-show="_form._Username.$error.required">Không được để trống</span>
                    </span>
                </div>
                <div class="col-lg-6">
                    <label>Mật khẩu</label><span style="color: red"> (2*)</span>
                    <input type="password" class="form-control" ng-pattern="/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$/" ng-model="target.password" name="_Password" required>
                    <span style="color: red" ng-show="_form._Password.$dirty && _form._Password.$invalid">
                        <span ng-show="_form._Password.$error.required">Không được để trống</span>
                        <span ng-show="_form._Password.$error.pattern">Mật khẩu phải có 6 ký tự trở lên bắt buộc phải có số, ký tự đặc biệt!</span>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Mã số thuế</label><span style="color: red"> (3*)</span>
                    <input type="text" class="form-control" ng-model="target.maSoThue" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.companies | filter:$viewValue" typeahead-input-formatter="formatLabel($model, 'companies')" typeahead-on-select="selectedObject($item)" name="_maSoThue" required />
                    <span style="color: red" ng-show="_form._maSoThue.$dirty && _form._maSoThue.$invalid">
                        <span ng-show="_form._maSoThue.$error.required">Không được để trống</span>
                    </span>
                </div>
                <div class="col-lg-6">
                    <label>Đơn vị hải quan chủ quản</label><span style="color: red"> (4*)</span>
                    <input type="text" class="form-control" ng-model="target.maHaiQuan" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.donViHaiQuans | filter:$viewValue" typeahead-input-formatter="formatLabel($model, 'donViHaiQuans')" typeahead-on-select="selectedCustom($item)" name="_maHaiQuan" required disabled="" />
                    <span style="color: red" ng-show="_form._maHaiQuan.$dirty && _form._maHaiQuan.$invalid">
                        <span ng-show="_form._maHaiQuan.$error.required">Không được để trống</span>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Họ và tên</label><span style="color: red"> (5)</span>
                    <input type="text" class="form-control" ng-model="target.fullName" name="_firstName">
                </div>
                <div class="col-lg-6">
                    <label>Email</label><span style="color: red"> (6)</span>
                    <input type="email" class="form-control" ng-model="target.email" name="_email">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-12">
                    <label>Thông tin bổ sung</label><span style="color: red"> (7)</span>
                    <textarea class="form-control" ng-model="target.description" placeholder="Nội dung..." rows="3"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid" ng-click="save()">{{config.label.btnSubmit}}</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>