<form></form>
<!-- KHông hiểu sao để thế này thì nó mới không bị lỗi T_T-->
<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div class="modal-body">
        <form role="form" name="_formThu" class="form-validation">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Số chứng từ
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" type="text" ng-model="target.maChungTu" disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Ngày chứng từ 
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" style="width: 100%; float:left;" type="text" ng-model="target.ngayCT" placeholder="{{config.dateFormat}}"
                                   uib-datepicker-popup="{{config.dateFormat}}" is-open="_ngayct" disabled datepicker-localdate/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-style-label-input">
                            Nội dung
                        </div>
                        <div class="md-12-style-input">
                            <textarea class="input-border-form" focus="true" name="_noidung" style="width:100%;" rows="1" ng-model="target.noiDung" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Đơn vị nhận
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" name="_maDonViNhan" type="text" ng-model="target.maDonViNhan" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.unitUsers | filter:$viewValue" typeahead-input-formatter="formatLabel($model, 'unitUsers')"
                                   typeahead-on-select="target.maDonViNhan = $item.value" disabled />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Kho nhập <span style="color:red">(*)</span>
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" name="_khoNhap" type="text" ng-model="target.maKhoNhap" typeahead-editable="false" typeahead-on-select="selectedKhoNhap($item)" typeahead-input-formatter="formatLabel($model, 'wareHouses')"
                                   uib-typeahead="opt.value as opt.text for opt in tempData.wareHouses | filter:$viewValue" required />
                            <span style="color:red" ng-show="_form._khoNhap.$dirty && _form._khoNhap.$invalid">
                                <span ng-show="_form._khoNhap.$error.required">Không được để trống</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-body">
        <uib-tabset active="active">
            <uib-tab index="0" heading="Chi tiết">
                <div>
                    <form name="_tableForm">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-condensed" arrow-selector data-item-target="dataDetails">
                                <thead>
                                    <tr>
                                        <th style="width:3%" class="text-center">STT</th>
                                        <th style="width:15%" class="text-center">Tên hàng</th>
                                        <th style="width:15%" class="text-center">Loại bao bì</th>
                                        <th style="width:10%" class="text-center">Sl bao</th>
                                        <th style="width:5%" class="text-center">Sl(Kg)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in target.dataDetails" enter-key="addRow()" delete-key="removeRow(item)" ng-click="setIndex($index)">
                                        <td style="text-align:center">{{$index + 1}}</td>
                                        <td>
                                            <input autocomplete="off" type="text" style="width:100%;" name="_maHang_{{$index}}" ng-model="item.maHang" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.merchandises | filter:$viewValue" typeahead-input-formatter="formatLabel($model, 'merchandises')"  disabled />

                                        </td>
                                        <td>
                                            <input autocomplete="off"type="text" style="width:100%;" ng-model="item.maBaoBi" name="_maBaoBi_{{$index}}" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.packagings | filter:$viewValue" typeahead-input-formatter="formatLabel($model, 'packagings')" disabled />
                                        </td>
                                        <td>
                                            <input  format-number-input="number" style="text-align:center; width:100%" ng-model="item.soLuongBao" disabled>
                                        </td>
                                        <td>
                                            <input format-number-input="number" style="text-align:center; width:100%" ng-model="item.soLuong" disabled>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </uib-tab>
            <uib-tab heading="Định khoản">
                <div>
                    <form name="_tableForm">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th style="width:2%" class="text-center">STT</th>
                                        <th style="width:10%" class="text-center">Tài khoản nợ</th>
                                        <th style="width:10%" class="text-center">Tài khoản có</th>
                                        <th style="width:20%" class="text-center">Đối tượng nợ</th>
                                        <th style="width:20%" class="text-center">Đối tượng có</th>
                                        <th style="width:20%" class="text-center">Số tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in target.dataClauseDetails">
                                        <td style="text-align:center">{{$index + 1}}</td>
                                        <td>
                                            <input style="width:100%;" type="text" ng-model="item.tkNo" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.accounts | filter:$viewValue" disabled />
                                        </td>
                                        <td>
                                            <input style="width:100%;" type="text" ng-model="item.tkCo" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.accounts | filter:$viewValue" disabled />
                                        </td>
                                        <td>
                                            <input style="width:100%;" type="text" ng-model="item.doiTuongNo" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.customers | filter:$viewValue"
                                                   typeahead-input-formatter="formatLabel($model, 'customers')" disabled />
                                        </td>
                                        <td>
                                            <input style="width:100%;" type="text" ng-model="item.doiTuongCo" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.wareHouses | filter:$viewValue"
                                                   typeahead-input-formatter="formatLabel($model, 'wareHouses')" disabled />
                                        </td>
                                        <td>
                                            <input format-number-input="number" style="width:100%;" ng-model="item.soTien" disabled />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button prevent-default class="btn btn-primary" ng-if="target.trangThai != 10" ng-click="approval()">Duyệt</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>