<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div class="modal-body">
        <form role="form">
            <input type="hidden" ng-model="target.id">
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Mã HS</label><span style="color: red"> (3*)</span>
                    <input type="text" class="form-control" ng-model="target.maNhom" name="_maNhom" maxlength="50" required disabled>
                </div>
                <div class="col-lg-6">
                    <label>Tên HS</label><span style="color: red"> (4*)</span>
                    <input type="text" class="form-control" ng-model="target.tenNhom" name="_tenNhom" maxlength="300" required disabled>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Trạng thái</label><span style="color: red"> (4*)</span>
                    <select class="form-control" ng-model="target.trangThai" ng-options="opt.value as opt.text for opt in tempData.status" disabled></select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button prevent-default class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span>&ensp;{{config.label.btnCancel}}</button>
    </div>
</div>