<!--<div class="form-group">
    <label>Từ ngày</label>
    <input style="height:20px; width:150px" type="date" ng-model="target.tuNgay" />
    <label>Đến ngày</label>
    <input style="height:20px; width:150px" type="date" ng-model="target.denNgay" />
</div>
<div class="form-group">
    <label>Tài khoản</label>
    <select ng-model="target.taiKhoan" ng-options="opt.value as opt.text for opt in tempData.accounts">
        <option value="">-</option>
    </select>
    <label>Đơn vị</label>
    <select ng-model="target.unitCode" ng-options="opt.value as opt.text for opt in tempData.unitUsers">
        <option value="">-</option>
    </select>
    <button prevent-default ng-click="pdfMaker()">Báo cáo</button>
</div>
<hr />-->


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span> Sổ cái chi tiết tài khoản
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Từ ngày</label>
                                    <input class="form-control" type="date" ng-model="target.tuNgay" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Đến ngày</label>
                                    <input class="form-control" type="date" ng-model="target.denNgay" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Tài khoản</label>
                                    <select class="form-control" ng-model="target.taiKhoan" ng-options="opt.value as opt.text for opt in tempData.accounts">
                                        <option value="">-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Đơn vị</label>
                                    <select class="form-control" ng-model="target.unitCode" ng-options="opt.value as opt.text for opt in tempData.unitUsers">
                                        <option value="">-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-md-offset-10">
                                <div class="form-group">
                                    <button class="btn btn-primary form-control" prevent-default ng-click="pdfMaker()">Báo cáo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>