<form></form><!-- KHông hiểu sao để thế này thì nó mới không bị lỗi T_T-->
<style>
    #myWorkContent {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
</style>
<div>
    <div>
        <div class="modal-header">
            <h3 class="modal-title">{{title()}}</h3>
            <div class="button-close" ng-click="cancel()">
                <i class="glyphicon glyphicon-remove x-close"></i>
            </div>
        </div>
        <div class="modal-body" ng-form name="_form">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Số phiếu <span style="color: red">(*)</span>
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" type="text" ng-model="target.maChungTu" maxlength="50" name="_maChungTu" required disabled>
                            <span style="color: red" ng-show="_form._maChungTu.$dirty && _form._maChungTu.$invalid">
                                <span ng-show="_form._maChungTu.$error.required">Không được để trống</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Ngày
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="input-border-form" type="text" ng-model="target.ngayCT" placeholder="{{config.dateFormat}}"
                                       uib-datepicker-popup="{{config.dateFormat}}" is-open="_ngayToKhai" datepicker-localdate />
                                <div class="button-calender" ng-click="openDate =!openDate; config.delegateEvent($event);"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Số chứng từ <span style="color: red">(*)</span>
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" type="text" ng-model="target.maHoaDon" maxlength="50" name="_maHoaDon" required>
                            <span style="color: red" ng-show="_form._maHoaDon.$dirty && _form._maHoaDon.$invalid">
                                <span ng-show="_form._maHoaDon.$error.required">Không được để trống</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Ngày chứng từ
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="input-border-form" type="text" ng-model="target.ngayHoaDon" placeholder="{{config.dateFormat}}"
                                       uib-datepicker-popup="{{config.dateFormat}}" is-open="_ngayHoaDon" datepicker-localdate />
                                <div class="button-calender" ng-click="_ngayHoaDon =!_ngayHoaDon; config.delegateEvent($event);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Loại tiền <span style="color: red">(*)</span>
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="input-border-form" name="_ngoaiTe" type="text" ng-model="target.ngoaiTe" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.currencies | filter:$viewValue" typeahead-input-formatter="nameCurrency($model, 'currencies')" required />
                                <span style="color:red" ng-show="_form._ngoaiTe.$dirty && _form._ngoaiTe.$invalid">
                                    <span ng-show="_form._ngoaiTe.$error.required">Không được để trống</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Mã doanh nghiệp<span style="color: red">(*)</span>
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="input-border-form" name="_maDoanhNghiep" type="text" ng-model="target.maDoanhNghiep" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.companies | filter:$viewValue | limitTo:5" typeahead-on-select="selectedDoanhNghiep($item)" typeahead-input-formatter="formatLabel($model, 'companies')" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Mã hải quan<span style="color: red">(*)</span>
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="input-border-form" name="_maHaiQuan" type="text" ng-model="target.maHaiQuan" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.donViHaiQuans | filter:$viewValue | limitTo:5" typeahead-on-select="selectedHaiQuan($item)" typeahead-input-formatter="formatLabel($model, 'donViHaiQuans')" required disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Mã kho xuất <span style="color: red">(*)</span>
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="input-border-form" name="_khoXuat" type="text" ng-model="target.maKhoXuat" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.wareHouses | filter:$viewValue | limitTo:5" typeahead-on-select="selectedKho($item)" typeahead-input-formatter="formatLabel($model, 'wareHouses')" required />
                                <!--<div class="add-input-able" ng-click="createWareHouse(target, 'maKhoXuat')">
                                </div>-->
                            </div>
                            <span style="color: red" ng-show="_form._khoXuat.$dirty && _form._khoXuat.$invalid">
                                <span style="color: red">Không được để trống</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Tên doanh nghiệp
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" name="_tenDoanhNghiep" type="text" ng-model="target.tenDoanhNghiep" typeahead-editable="false" disabled />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Tên hải quan
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" name="_tenHaiQuan" type="text" ng-model="target.ngoaiTe" disabled />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Tên kho xuất
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" name="_tenKhoXuat" type="text" ng-model="target.tenKho" disabled />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        <div class="md-style-label-input">
                            Diễn giải
                        </div>
                        <div class="md-8-style-input">
                            <textarea class="input-border-form" style="width: 100%;" ng-model="target.noiDung" maxlength="300" rows="1"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Chi tiết">
                    <div id="myWorkContent">
                        <table class="table table-bordered table-hover table-condensed" style="width:1500px">
                            <thead>
                                <tr>
                                    <th class="text-center">STT</th>
                                    <th class="text-center" colspan="3">Thuộc tính hàng hóa</th>
                                    <th class="text-center" rowspan="2">Số tờ khai</th>
                                    <th class="text-center" rowspan="2">Ngày tờ khai</th>
                                    <th class="text-center" rowspan="2">Nguồn hàng</th>
                                    <th class="text-center" rowspan="2">Số seri</th>
                                    <th class="text-center" rowspan="2">Ngày hết hạn tờ khai</th>
                                    <th class="text-center" rowspan="2">Số lượng</th>
                                    <th class="text-center" rowspan="2">Đơn vị tính</th>
                                    <th class="text-center" rowspan="2">Đơn giá</th>
                                    <th class="text-center" rowspan="2">Trị giá</th>
                                    <th class="text-center" rowspan="2"></th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th class="text-center">Mã HS</th>
                                    <th class="text-center">Mã hàng</th>
                                    <th class="text-center">Tên hàng</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th class="text-center">(1)</th>
                                    <th class="text-center">(2)</th>
                                    <th class="text-center">(3)</th>
                                    <th class="text-center">(4)</th>
                                    <th class="text-center">(5)</th>
                                    <th class="text-center">(6)</th>
                                    <th class="text-center">(7)</th>
                                    <th class="text-center">(8)</th>
                                    <th class="text-center">(9)</th>
                                    <th class="text-center">(10)</th>
                                    <th class="text-center">(11)</th>
                                    <th class="text-center">(12)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody ng-form name="_form_add">
                                <tr style="background:rgba(119, 119, 119, 0.48)" ng-enter="addRow()">
                                    <td style="text-align:center;"></td>
                                    <td nowrap>
                                        {{newItem.maNhomVatTu}}
                                    </td>
                                    <td>
                                        <input id="mahang" type="text" name="_maHang" ng-model="newItem.maHang" ng-blur="selectedMaHang(newItem.maHang)" maxlength="50" />
                                    </td>
                                    <td>
                                        {{newItem.tenHang}}
                                    </td>
                                    <td>
                                        <input type="text" style="width:100%;" name="_soToKhai" ng-model="newItem.soToKhai" />
                                    </td>
                                    <td>
                                        <div class="add-input-zone">
                                            <input class="input-border-form" type="text" ng-model="newItem.ngayToKhai" placeholder="{{config.dateFormat}}"
                                                   uib-datepicker-popup="{{config.dateFormat}}" is-open="_ngayToKhai" datepicker-localdate />
                                            <div class="button-calender" ng-click="_ngayToKhai =!_ngayToKhai; config.delegateEvent($event);"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <input format-number-input="number" style="text-align:center; width:100%" ng-model="newItem.nguonHang">
                                    </td>
                                    <td>
                                        {{newItem.barcode}}
                                    </td>
                                    <td style="text-align:center;">
                                        <div class="add-input-zone">
                                            <input class="input-border-form" type="text" ng-model="newItem.hanSuDung" placeholder="{{config.dateFormat}}" style-changer="newItem"
                                                   uib-datepicker-popup="{{config.dateFormat}}" is-open="_hanSuDung" datepicker-localdate />
                                            <div class="button-calender" ng-click="_hanSuDung =!_hanSuDung; config.delegateEvent($event);"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <input id="soluong" format-number-input="number" style="text-align:center; width:100%" ng-model="newItem.soLuong" ng-change="robot.changeSoLuong(newItem)">
                                    </td>
                                    <td>
                                        {{newItem.donViTinh}}
                                    </td>
                                    <td>
                                        <input format-number-input="number" style="text-align:right; width:100%" ng-model="newItem.donGia" ng-change="robot.changeDonGia(newItem)" />
                                    </td>
                                    <td>
                                        <div style="text-align:right; width:100%" disabled>
                                            {{newItem.thanhTien | number}}
                                        </div>
                                    </td>
                                    <td style="white-space: nowrap" class="text-center">
                                        <div class="form-buttons form-inline">
                                            <button prevent-default type="button" ng-disabled="_form_add.$invalid" ng-click="addRow()" class="btn btn-default btn-sm btn-sm-add-item">{{config.label.btnCreate}}</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-form name="_formDetail">
                                <tr ng-if="isLoading">
                                    <td colspan="16"><my-loading></my-loading></td>
                                </tr>
                                <tr ng-repeat="item in data track by $index">
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td nowrap>
                                        {{item.maNhomVatTu}}
                                    </td>
                                    <td>
                                        {{item.maHang}}
                                    </td>
                                    <td>
                                        {{item.tenHang}}
                                    </td>
                                    <td>
                                        <input type="text" name="_soToKhai" ng-model="item.soToKhai" />
                                    </td>
                                    <td style="text-align:center;">
                                        <div class="add-input-zone">
                                            <input class="input-border-form" type="text" ng-model="item.ngayToKhai" placeholder="{{config.dateFormat}}"
                                                   uib-datepicker-popup="{{config.dateFormat}}" is-open="item._ngayToKhai" datepicker-localdate />
                                            <div class="button-calender" ng-click="item._ngayToKhai =!item._ngayToKhai; config.delegateEvent($event);"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <input format-number-input="number" style="text-align:center; width:100%" ng-model="item.nguonHang">
                                    </td>
                                    <td>
                                        {{item.barcode}}
                                    </td>
                                    <td style="text-align:center;">
                                        <div class="add-input-zone">
                                            <input class="input-border-form" type="text" ng-model="item.hanSuDung" placeholder="{{config.dateFormat}}" style-changer="item"
                                                   uib-datepicker-popup="{{config.dateFormat}}" is-open="item._hanSuDung" datepicker-localdate />
                                            <div class="button-calender" ng-click="item._hanSuDung =!item._hanSuDung; config.delegateEvent($event);"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <input id="soluong" format-number-input="number" style="text-align:center; width:100%" ng-model="item.soLuong" ng-change="robot.changeSoLuong(item)">
                                    </td>
                                    <td>
                                        {{item.donViTinh}}
                                    </td>
                                    <td>
                                        <input format-number-input="number" style="text-align:right; width:100%" ng-model="item.donGia" ng-change="robot.changeDonGia(item)" />
                                    </td>
                                    <td>
                                        <div style="text-align:right; width:100%" disabled>
                                            {{item.thanhTien | number}}
                                        </div>
                                    </td>

                                    <td style="white-space: nowrap">
                                        <!-- form -->
                                        <div class="form-buttons form-inline">
                                            <button prevent-default type="button" style="height: 20px; line-height: 2px;background: rgba(255, 213, 93, 0.61);" ng-click="removeItem($index)" class="btn btn-default btn-sm">
                                                Xóa
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <uib-pagination class="no-margin-vertical pagination-sm" ng-model="paged.currentPage"
                                        ng-change="pageChanged()"
                                        items-per-page="paged.itemsPerPage" ng-show="paged.totalItems > 0" total-items="paged.totalItems" max-size="paged.pageSize"
                                        boundary-links="true" num-pages="paged.totalPage"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                        </uib-pagination>
                    </div>
                </uib-tab>
            </uib-tabset>
            <div class="form-group">
                <table class="table table-inverse">
                    <tbody>
                        <tr>
                            <td style="width:55%"></td>
                            <td nowrap style="text-align:center"><label>Tổng giá trị:</label></td>
                            <td nowrap></td>
                            <td style="text-align:right; width:20%"><span style="color:red;font-weight:bold"><b>{{target.thanhTienSauVat | number}}</b></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <span ng-show="Loading"><my-loading></my-loading></span>
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid || _formDetail.$invalid || Loading " ng-click="saveAndKeep()">{{config.label.btnSaveAndKeep}}</button>
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid || _formDetail.$invalid " ng-click="saveAndPrint()">{{config.label.btnSaveAndPrint}}</button>
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid || _formDetail.$invalid " ng-click="save()">{{config.label.btnSubmit}}</button>
        <button prevent-default class="btn btn-default" ng-disabled="Loading" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>
