<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div class="modal-body">
        <form role="form">
            <input type="hidden" ng-model="target.id">
            <div class="row form-group">
                <div class="col-lg-3">
                    <label>Mã loại hình</label>
                    <input type="text" class="form-control" ng-model="target.maLoaiHinh" disabled>
                </div>
                <div class="col-lg-3">
                    <label>Tên loại hình</label>
                    <input type="text" class="form-control" ng-model="target.tenLoaiHinh" disabled>
                </div>
                <div class="col-lg-3">
                    <label>Trạng thái</label>
                    <input type="text" class="form-control" ng-model="target.trangThai" disabled>
                </div>
                <div class="col-lg-3">
                    <label>Ghi chú</label>
                    <input type="text" class="form-control" ng-model="target.ghiChu" disabled>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button prevent-default class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span>&ensp;{{config.label.btnCancel}}</button>
    </div>
</div>