<form></form><!-- KHông hiểu sao để thế này thì nó mới không bị lỗi T_T-->
<style>
    #myWorkContent {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
</style>
<div>
    <div>
        <div class="modal-header">
            <h3 class="modal-title">{{title()}}</h3>
            <div class="button-close" ng-click="cancel()">
                <i class="glyphicon glyphicon-remove x-close"></i>
            </div>
        </div>
        <div class="modal-body" ng-form name="_form">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Mã doanh nghiệp<span style="color: red">(*)</span>
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="input-border-form" name="_maDoanhNghiep" type="text" ng-model="target.maDoanhNghiep" typeahead-editable="false" uib-typeahead="opt.id as opt.text for opt in tempData.companies | filter:$viewValue | limitTo:5" typeahead-input-formatter="displayHelper($model, 'companies')" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Mã hải quan<span style="color: red">(*)</span>
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="input-border-form" name="_maHaiQuan" type="text" ng-model="target.maHaiQuan" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.donViHaiQuans | filter:$viewValue | limitTo:5" typeahead-input-formatter="formatLabel($model, 'donViHaiQuans')" disabled />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Số phiếu kê khai <span style="color: red">(*)</span>
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" type="text" ng-model="target.maChungTu" maxlength="50" name="_maChungTu" disabled />

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Ngày kê khai
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="input-border-form" type="text" ng-model="target.ngayCT" placeholder="{{config.dateFormat}}"
                                       uib-datepicker-popup="{{config.dateFormat}}" is-open="_ngayCT" datepicker-localdate disabled />

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Loại tiền <span style="color: red">(*)</span>
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="input-border-form" name="_ngoaiTe" type="text" ng-model="target.ngoaiTe" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.currencies | filter:$viewValue" typeahead-input-formatter="nameCurrency($model, 'currencies')" disabled />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Số chứng từ <span style="color: red">(*)</span>
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" type="text" ng-model="target.maHoaDon" maxlength="50" name="_maHoaDon" disabled>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Ngày chứng từ
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="input-border-form" type="text" ng-model="target.ngayHoaDon" placeholder="{{config.dateFormat}}"
                                       uib-datepicker-popup="{{config.dateFormat}}" is-open="_ngayHoaDon" datepicker-localdate disabled />

                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="form-group">
                <div class="row">

                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Mã cửa hàng<span style="color: red">(*)</span>
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="input-border-form" name="_maCuaHang" type="text" ng-model="target.maCuaHang" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.unitUsers | filter:{extendValue : target.maDoanhNghiep} | limitTo:5" typeahead-on-select="selectedCuaHang($item)" typeahead-input-formatter="formatLabel($model, 'unitUsers')" disabled />

                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Tên cửa hàng
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" name="_tenCuaHang" type="text" ng-model="target.tenCuaHang" disabled/>
                          
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Người nhận
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" name="_nguoiNhan" type="text" ng-model="target.nguoiNhan" disabled />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">

                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Nhà cung cấp
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="input-border-form" name="_tenKhachHang" type="text" ng-model="target.nhaCungCap" disabled />

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Số hợp đồng
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" name="_soHd" type="text" ng-model="target.soHd" disabled />

                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="row">

                    <div class="col-md-12">
                        <div class="md-style-label-input">
                            Diễn giải
                        </div>
                        <div class="md-12-style-input">
                            <textarea class="input-border-form" style="width: 100%;" ng-model="target.noiDung" maxlength="300" rows="3" disabled></textarea>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-body">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Chi tiết">
                    <div id="myWorkContent">
                        <table class="table table-bordered table-hover table-condensed" style="width:1500px">
                            <thead>
                                <tr>
                                    <th class="text-center">STT</th>
                                    <th class="text-center" colspan="4">Thuộc tính hàng hóa</th>
                                    <th class="text-center" rowspan="2">Số tờ khai</th>
                                    <th class="text-center" rowspan="2">Ngày tờ khai</th>
                                    <th class="text-center" rowspan="2">Ngày hết hạn tờ khai</th>
                                    <th class="text-center" rowspan="2">Số lượng</th>
                                    <th class="text-center" rowspan="2">Đơn giá</th>
                                    <th class="text-center" rowspan="2">Trị giá</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th class="text-center">Mã HS</th>
                                    <th class="text-center">Mã hàng</th>
                                    <th class="text-center">Tên hàng</th>
                                    <th class="text-center">Đơn vị tính</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th class="text-center">(1)</th>
                                    <th class="text-center">(2)</th>
                                    <th class="text-center">(3)</th>
                                    <th class="text-center">(4)</th>
                                    <th class="text-center">(5)</th>
                                    <th class="text-center">(6)</th>
                                    <th class="text-center">(7)</th>
                                    <th class="text-center">(8)</th>
                                    <th class="text-center">(9)</th>
                                    <th class="text-center">(10)</th>
                                </tr>
                            </thead>

                            <tbody ng-form name="_formDetail">
                                <tr ng-if="isLoading">
                                    <td colspan="16"><my-loading></my-loading></td>
                                </tr>
                                <tr ng-repeat="item in data track by $index">
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td nowrap>
                                        {{item.maNhomVatTu}}
                                    </td>
                                    <td>
                                        {{item.maHang}}
                                    </td>
                                    <td>
                                        {{item.tenHang}}
                                    </td>
                                    <td>
                                        {{item.donViTinh}}
                                    </td>

                                    <td>

                                        {{item.soToKhai}}
                                    </td>
                                    <td style="text-align:center;">
                                        <div class="add-input-zone">
                                            <input class="input-border-form" type="text" ng-model="item.ngayToKhai" placeholder="{{config.dateFormat}}"
                                                   uib-datepicker-popup="{{config.dateFormat}}" is-open="item._ngayToKhai" datepicker-localdate disabled />

                                        </div>
                                    </td>
                                    <td style="text-align:center;">
                                        <div class="add-input-zone">
                                            <input class="input-border-form" type="text" ng-model="item.hanSuDung" placeholder="{{config.dateFormat}}" style-changer="item"
                                                   uib-datepicker-popup="{{config.dateFormat}}" is-open="item._hanSuDung" datepicker-localdate disabled />
                                        </div>
                                    </td>
                                    <td>
                                        {{item.soLuong}}
                                    </td>

                                    <td>
                                        {{item.donGia}}
                                    </td>
                                    <td>
                                        <div style="text-align:right; width:100%" disabled>
                                            {{item.thanhTien | number}}
                                        </div>
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <uib-pagination class="no-margin-vertical pagination-sm" ng-model="paged.currentPage"
                                        ng-change="pageChanged()"
                                        items-per-page="paged.itemsPerPage" ng-show="paged.totalItems > 0" total-items="paged.totalItems" max-size="paged.pageSize"
                                        boundary-links="true" num-pages="paged.totalPage"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                        </uib-pagination>
                    </div>
                </uib-tab>
            </uib-tabset>
            <div class="form-group">
                <table class="table table-inverse">
                    <tbody>
                        <tr>
                            <td style="width:55%"></td>
                            <td nowrap style="text-align:center"><label>Tổng giá trị:</label></td>
                            <td nowrap></td>
                            <td style="text-align:right; width:20%"><span style="color:red;font-weight:bold"><b>{{target.thanhTienSauVat | number}}</b></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <span ng-show="Loading"><my-loading></my-loading></span>
        <button prevent-default class="btn btn-default" ng-disabled="Loading" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>
