<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}  {{lbl.lblCreate}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div class="modal-body">
        <form role="form" name="_form">
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Mã số thuế</label><span style="color: red"> (1*)</span>
                    <input type="text" class="form-control" ng-model="target.maSoThue" name="_maSoThue" maxlength="50" required>
                    <span style="color:red" ng-show="_form._maSoThue.$dirty && _form._maSoThue.$invalid">
                        <span ng-show="_form._maSoThue.$error.required">Không được để trống</span>
                    </span>
                </div>
                <div class="col-lg-6">
                    <label>Tên doanh nghiệpn</label><span style="color: red"> (2*)</span>
                    <input type="text" class="form-control" ng-model="target.tenDoanhNghiep" name="_tenDoanhNghiep" maxlength="500" required>
                    <span style="color:red" ng-show="_form._tenDoanhNghiep.$dirty && _form._tenDoanhNghiep.$invalid">
                        <span ng-show="_form._tenDoanhNghiep.$error.required">Không được để trống</span>
                    </span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Số điện thoại</label>
                    <input type="text" class="form-control" ng-model="target.soDienThoai" name="_soDienThoai" maxlength="50" required>
                    <span style="color:red" ng-show="_form._soDienThoai.$dirty && _form._soDienThoai.$invalid">
                        <span ng-show="_form._soDienThoai.$error.required">Không được để trống</span>
                    </span>
                </div>
                <div class="col-lg-6">
                    <label>Số Fax</label>
                    <input type="text" class="form-control" ng-model="target.soFax" name="_soFax" maxlength="50">

                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Địa chỉ</label>
                    <input type="text" class="form-control" ng-model="target.diaChi" name="_diaChi" maxlength="500" required>
                    <span style="color:red" ng-show="_form._diaChi.$dirty && _form._diaChi.$invalid">
                        <span ng-show="_form._diaChi.$error.required">Không được bỏ trống</span>
                    </span>
                </div>
                <div class="col-lg-6">
                    <label>Email</label>
                    <input type="email" class="form-control" ng-model="target.email" name="_email" maxlength="500">
                    <span ng-show="_form._emails.$error.email">Không hợp lệ <span>(Ví dụ: 123@gmail.com)</span></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Mã Hải Quan</label>
                    <input class="form-control" name="_maHaiQuan" type="text" ng-model="target.maHaiQuan" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.donViHaiQuans | filter:$viewValue | limitTo:5" typeahead-on-select="selectedHaiQuan($item)" typeahead-input-formatter="formatLabel($model, 'donViHaiQuans')" required />
                    <span style="color:red" ng-show="_form._maHaiQuan.$dirty && _form._maHaiQuan.$invalid">
                        <span ng-show="_form._maHaiQuan.$error.required">Không được để trống</span>
                    </span>

                </div>
                <div class="col-lg-6">
                    <label>Trạng thái</label><span style="color: red"> (4*)</span>
                    <select class="form-control" ng-model="target.trangThai" ng-options="opt.value as opt.text for opt in tempData.status"></select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Họ tên người liên hệ</label><span style="color: red"> (5*)</span>
                    <input type="text" name="_tennguoilienhe" class="form-control" ng-model="target.hoTenNguoiLienHe" required>
                    <span style="color:red" ng-show="_form._tennguoilienhe.$dirty && _form._tennguoilienhe.$invalid">
                        <span ng-show="_form._tennguoilienhe.$error.required">Không được để trống</span>
                    </span>
                </div>
                <div class="col-lg-6">
                    <label>Chức vụ người liên hệ</label><span style="color: red"> (6*)</span>
                    <input type="text" name="_chucvunguoilienhe" class="form-control" ng-model="target.chucVuNguoiLienHe" required>
                    <span style="color:red" ng-show="_form._chucvunguoilienhe.$dirty && _form._chucvunguoilienhe.$invalid">
                        <span ng-show="_form._chucvunguoilienhe.$error.required">Không được để trống</span>
                    </span>
                </div>
                <div class="col-lg-6">
                    <label>SDT liên hệ</label><span style="color: red"> (7*)</span>
                    <input type="text" name="_SoDienThoaiLienHe" class="form-control" ng-model="target.soDienThoaiLienHe" ng-pattern="/^[0-9]+$/"
                           required>
                    <span style="color:red" ng-show="_form._SoDienThoaiLienHe.$dirty && _form._SoDienThoaiLienHe.$invalid">
                        <span ng-show="_form._SoDienThoaiLienHe.$error.required">Không được để trống</span>
                        <span ng-show="_form._SoDienThoaiLienHe.$error.pattern">Ký tự bắt buộc phải là số</span>
                    </span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-12">
                    <label>Ghi chú</label>
                    <textarea class="form-control" rows="3" ng-model="target.ghiChu" placeholder="Nội dung..."></textarea>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid" ng-click="save()">{{config.label.btnSubmit}}</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>