<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}} {{lbl.lblCreate}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <br />
         <div class="modal-body">
                        <form role="form" name="_form">
                                <div class="row form-group">
                                    <div class="col-lg-6">
                                        <label>Mã kho</label><span style="color: red"> (1*)</span>
                                        <input type="text" class="form-control" ng-model="target.maKho" name="_makho" maxlength="50" required disabled="">
                                        <span style="color: red" ng-show="_form._makho.$dirty && _form._makho.$invalid">
                                            <span ng-show="_form._makho.$error.required">Mã kho không được để trống</span>
                                        </span>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Tên kho</label><span style="color: red"> (2*)</span>
                                        <input type="text" class="form-control" ng-model="target.tenKho" name="_tenkhohang" required="">
                                        <span style="color: red" ng-show="_form._tenkhohang.$dirty && _form._tenkhohang.$invalid">
                                            <span ng-show="_form._tenkhohang.$error.required">Tên kho hàng không được để trống</span>
                                        </span>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-lg-6">
                                        <label>Địa chỉ</label><span style="color: red"> (3*)</span>
                                        <input type="tel" ng-model="target.diaChi" class="form-control"/>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Trạng thái</label><span style="color: red"> (4*)</span>
                                        <select class="form-control" ng-init="target.trangThai = 10" ng-model="target.trangThai" ng-options="opt.value as opt.text for opt in tempData.status"></select>
                                    </div>
                                </div>
                            </form>
                </div>
                <div class="modal-footer">
                    <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid" ng-click="save()">{{config.label.btnSubmit}}</button>
                    <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
                </div>
</div>
