<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}  {{lbl.lblCreate}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div class="modal-body">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Thông tin" ng-form name="_form">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Số hợp đồng</label><span style="color: red"> (1*) </span>
                            <input type="text" class="form-control" ng-model="target.maHd" name="_maHopDong" maxlength="50" required>
                            <span style="color:red" ng-show="_form._maHopDong.$dirty && _form._maHopDong.$invalid">
                                <span ng-show="_form._maHopDong.$error.required">Không được để trống</span>
                            </span>
                        </div>

                        <div class="col-md-8">
                            <label>Tên hợp đồng</label><span style="color: red"> (2*)</span>
                            <input type="text" class="form-control" ng-model="target.tenHd" name="_tenHopDong" maxlength="300" required>
                            <span style="color:red" ng-show="_form._tenHopDong.$dirty && _form._tenHopDong.$invalid">
                                <span ng-show="_form._tenHopDong.$error.required">Không được để trống</span>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Ngày ký</label>
                            <div class="add-input-zone">
                                <input class="form-control" type="text" ng-model="target.ngayKy" placeholder="{{config.dateFormat}}"
                                       uib-datepicker-popup="{{config.dateFormat}}" is-open="_ngayKy" datepicker-localdate/>
                                <div class="button-calender" ng-click="_ngayKy = !_ngayKy; config.delegateEvent($event);">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Giá trị hợp đồng</label>
                            <input format-number-input="number" class="form-control" style="text-align:right;" ng-model="target.giaTriHD" disabled>
                        </div>

                        <div class="col-md-4">
                            <label>Khách hàng</label>
                            <div class="add-input-zone">
                                <input type="text" ng-model="target.khachHang" uib-typeahead="opt.value as opt.text for opt in tempData.customers | filter:$viewValue  | limitTo:5" typeahead-input-formatter="formatLabel($model, 'customers')" class="form-control">
                                <div class="add-input-able" ng-click="createCustomer(target, 'KhachHang')">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Người liên hệ</label>
                            <input type="text" class="form-control" ng-model="target.nguoiLienHe" />
                        </div>
                        <div class="col-md-8">
                            <label>Địa chỉ</label>
                            <input type="text" class="form-control" ng-model="target.diaChi" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Đơn vị thực hiện </label>
                            <input type="text" ng-model="target.donViThucHien" uib-typeahead="opt.value as opt.text for opt in tempData.unitUsers | filter:$viewValue | limitTo:5" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label>Người thực hiện</label>
                            <input type="text" class="form-control" ng-model="target.nguoiThucHien" />
                        </div>
                        <div class="col-md-4">
                            <label>Tình trạng HĐ</label>
                            <select class="form-control" ng-model="target.tinhTrangHopDong" ng-init="target.tinhTrangHopDong = 10" ng-options="opt.value as opt.text for opt in tempData.status"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Ngày thanh lý</label>
                            <div class="add-input-zone">
                                <input class="form-control" type="text" ng-model="target.ngayThanhLy" placeholder="{{config.dateFormat}}"
                                       uib-datepicker-popup="{{config.dateFormat}}" is-open="_ngayThanhLy" datepicker-localdate/>
                                <div class="button-calender" ng-click="_ngayThanhLy = !_ngayThanhLy; config.delegateEvent($event);">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label>Nội dung chi tiết</label>
                            <input type="text" class="form-control" ng-model="target.lyDo" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Điều khoản khác</label>
                            <input type="text" class="form-control" ng-model="target.dieuKhoanKhac" />
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="0" heading="Chi tiết">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th style="width:3%" class="text-center">STT</th>
                                <th style="width:10%" class="text-center">Barcode</th>
                                <th style="width:10%" class="text-center">Mã hàng</th>
                                <th style="width:15%" class="text-center">Tên hàng</th>
                                <th style="width:5%" class="text-center">ĐVT</th>
                                <th style="width:15%" class="text-center">Loại bao bì</th>
                                <th style="width:5%" class="text-center">Quy cách</th>
                                <th style="width:10%" class="text-center">Sl bao</th>
                                <th style="width:5%" class="text-center">Sl lẻ</th>
                                <th style="width:5%" class="text-center">Sl</th>
                                <th style="width:10%" class="text-center">Đơn giá</th>
                                <th style="width:15%" class="text-center">Thành tiền</th>
                                <th style="width:5%"></th>
                            </tr>
                        </thead>
                        <tbody ng-form name="_formAddDetail">
                            <tr style="background:rgba(119, 119, 119, 0.48)">
                                <td style="text-align:center;"></td>
                                <td>{{newItem.barcode}}</td>
                                <td>
                                    <input type="text" style="width:100%;" name="_maHang" ng-model="newItem.maHang" ng-blur="selectedMaHang(newItem.maHang)" required/>
                                </td>
                                <td>
                                    {{newItem.tenHang}}
                                </td>
                                <td>{{newItem.donViTinh}}</td>
                                <td>
                                    <div class="add-input-zone">
                                        <input autocomplete="off" type="text" style="width:100%;" ng-model="newItem.maBaoBi" name="_maBaoBi" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.packagings | filter:$viewValue | limitTo:5" typeahead-on-select="selectedMaBaoBi(newItem, $item)" typeahead-input-formatter="formatLabel($model, 'packagings')"/>
                                        <div class="add-input-able" ng-click="createPackage(newItem, 'maBaoBi')">
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align:center;">{{newItem.luongBao}}</td>
                                <td>
                                    <input format-number-input="number" style="text-align:center; width:100%"  ng-model="newItem.soLuongBao" ng-change="robot.changeSoLuongBao(newItem)">
                                </td>
                                <td>
                                    <input format-number-input="number" style="text-align:center; width:100%" ng-model="newItem.soLuongLe" ng-change="robot.changeSoLuongLe(newItem)">
                                </td>
                                <td>
                                    <input format-number-input="number" style="text-align:center; width:100%" ng-model="newItem.soLuong" disabled>
                                </td>
                                <td>
                                    <input format-number-input="number"  style="text-align:right; width:100%" ng-model="newItem.donGia" ng-change="robot.changeDonGia(newItem)"/>
                                </td>
                                <td>
                                    <div style="text-align:right; width:100%" disabled>
                                        {{newItem.thanhTien | number}}
                                    </div>
                                </td>
                                <td style="white-space: nowrap" class="text-center">
                                    <div class="form-buttons form-inline" >
                                        <button prevent-default ng-disabled="_formAddDetail.$invalid" type="button" ng-click="addRow()" class="btn btn-default btn-sm btn-sm-add-item">{{config.label.btnCreate}}</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-form name="_formDetail">
                            <tr ng-if="isLoading">
                                <td colspan="13"><my-loading></my-loading></td>
                            </tr>
                            <tr ng-repeat="item in data track by $index">
                                <td style="text-align:center;">{{$index + 1}}</td>
                                <td>{{item.barcode}}</td>
                                <td>
                                    <input type="text" style="width:100%;" name="_maHang" ng-model="item.maHang" required disabled/>
                                </td>
                                <td>{{item.tenHang}}</td>
                                <td>{{item.donViTinh}}</td>
                                <td>
                                    <input autocomplete="off" type="text" style="width:100%;" ng-model="item.maBaoBi" name="_maBaoBi_{{$index}}" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.packagings | filter:$viewValue | limitTo:5" typeahead-on-select="selectedMaBaoBi(item, $item)" typeahead-input-formatter="formatLabel($model, 'packagings')" required />
                                </td>
                                <td style="text-align:center;">{{item.luongBao}}</td>
                                <td>
                                    <input format-number-input="number" style="text-align:center; width:100%" ng-model="item.soLuongBao" ng-change="robot.changeSoLuongBao(item)">
                                </td>
                                <td>
                                    <input format-number-input="number" style="text-align:center; width:100%" ng-model="item.soLuongLe" ng-change="robot.changeSoLuongLe(item)">
                                </td>
                                <td>
                                    <input  format-number-input="number" style="text-align:center; width:100%" ng-model="item.soLuong" disabled>
                                </td>
                                <td>
                                    <input  format-number-input="number"  style="text-align:right; width:100%" ng-model="item.donGia" ng-change="robot.changeDonGia(item)"/>
                                </td>
                                <td>
                                    <div style="text-align:right; width:100%" disabled>
                                        {{item.thanhTien | number}}
                                    </div>
                                </td>
                                <td style="white-space: nowrap" class="text-center">
                                    <button prevent-default type="button" style="height: 20px; line-height: 2px;background: rgba(255, 213, 93, 0.61);" ng-click="removeItem($index)" class="btn btn-default btn-sm">
                                        Xóa
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="panel-footer">
                        <uib-pagination class="no-margin-vertical pagination-sm" ng-model="paged.currentPage"
                                        ng-change="pageChanged()"
                                        items-per-page="paged.itemsPerPage" ng-show="paged.totalItems > 0" total-items="paged.totalItems" max-size="paged.pageSize"
                                        boundary-links="true" num-pages="paged.totalPage"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                        </uib-pagination>
                    </div>
                </uib-tab>
            </uib-tabset>
    </div>
    <div class="modal-footer">
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid || _formDetail.$invalid" ng-click="save()">{{config.label.btnSubmit}}</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>