<!--<div class="form-group">
    <label>Từ ngày</label>
    <input style="height:20px; width:150px" type="date" ng-model="target.TuNgay" />
    <label>Đến ngày</label>
    <input style="height:20px; width:150px" type="date" ng-model="target.DenNgay" />
</div>
<div class="form-group">
    <label>Tài khoản</label>
    <select ng-model="target.TaiKhoan" ng-options="opt.Value as opt.Text for opt in tempData.accounts">
        <option value="">-</option>
    </select>
    <label>Đơn vị</label>
    <select ng-model="target.UnitCode" ng-options="opt.Value as opt.Text for opt in tempData.unitUsers">
        <option value="">-</option>
    </select>
    <button prevent-default ng-click="pdfMaker()">Báo cáo</button>
</div>
<hr />-->


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary" ng-form name="_form">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span> Báo cáo xuất nhập tồn
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Số tờ khai</label>
                                    <input ng-model="target.soTk" class="form-control"/>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Từ ngày</label>
                                    <div class="add-input-zone">
                                        <input class="input-border-form" type="text" ng-model="target.fromDate" placeholder="{{config.dateFormat}}"
                                               uib-datepicker-popup="{{config.dateFormat}}" is-open="fromDate" datepicker-localdate datepicker-options="options" required />
                                        <div class="button-calender" ng-click="fromDate = !fromDate; config.delegateEvent($event);">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Đến ngày</label>
                                    <div class="add-input-zone">
                                        <input class="input-border-form" type="text" ng-model="target.toDate" placeholder="{{config.dateFormat}}"
                                               uib-datepicker-popup="{{config.dateFormat}}" is-open="toDate" datepicker-localdate datepicker-options="options" required />
                                        <div class="button-calender" ng-click="toDate = !toDate; config.delegateEvent($event);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Mã hàng</label>
                                    <div class="tags">
                                        <div ng-repeat="item in tagMerchandises" class="tag label label-success">
                                            {{item.value}}
                                            <a class="close" href="" ng-click="removeMerchandise($index)">×</a>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary" ng-click="selectMerchandise()">Hàng </button>
                                </div>
                            </div>
                            <div class="col-md-2 col-md-offset-10">
                                <div class="form-group">
                                    <button class="btn btn-primary form-control" ng-disabled="_form.$invalid" prevent-default ng-click="report()">Báo cáo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>