<div class="panel panel-default">
    <div class="panel-heading panel-toolbar">
        <h3 class="modal-title">{{title()}}</h3>
        <div class="button-close" ng-click="goHome()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div class="panel-heading">
        <div class="btn-toolbar" x="toolbar">
            <div class="btn-group">
                <button prevent-default class="btn btn-primary" title="import data" ng-click="import()">&ensp;Import</button>
                <button prevent-default class="btn btn-primary" title="report data" ng-click="report()">&ensp;Report</button>
            </div>
            <div class="col-lg-10">
                <div class="input-group">
                    <input type="text" class="form-control style-baocao" ng-model="filtered.summary" ng-enter="doSearch()">
                    <div class="input-group-btn">
                        <button class="btn btn-default" prevent-default title="search" ng-click="doSearch()"><span class="glyphicon glyphicon-search"></span>&ensp;{{config.label.btnSearch}}</button>
                        <button type="button" class="btn btn-default" title="show search advance" ng-click="filtered.isAdvance = !filtered.isAdvance">
                            <span class="glyphicon"
                                  ng-class="{
                                  'glyphicon glyphicon-chevron-up' : filtered.isAdvance,
                                  'glyphicon glyphicon-chevron-down' : !filtered.isAdvance
                                  }">
                            </span>
                        </button>
                        <button class="btn btn-default" prevent-default title="refresh page" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span>&ensp;{{config.label.btnRefresh}}</button>
                        <button class="btn btn-default" prevent-default title="go home" ng-click="goHome()"><span class="glyphicon glyphicon-remove-circle"></span>&ensp;{{config.label.btnBack}}</button>
                        <button class="btn btn-default" prevent-default title="In danh sách" ng-click="print()"><span class="glyphicon glyphicon-print"></span>&ensp;{{config.label.btnPrintList}}</button>
                        <button class="btn btn-default" prevent-default title="In danh sách chi tiết" ng-click="printDetail()"><span class="glyphicon glyphicon-print"></span>&ensp;{{config.label.btnPrintDetailList}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="filtered.isAdvance">
        <br>
        <div class="form-group">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Từ ngày</label>
                    <div>
                        <div class="add-input-zone">
                            <input class="input-border-form" type="text" ng-model="filtered.advanceData.tuNgay" placeholder="{{config.dateFormat}}"
                                   uib-datepicker-popup="{{config.dateFormat}}" is-open="_tuNgay" datepicker-localdate />
                            <div class="button-calender" ng-click="_tuNgay = !_tuNgay; config.delegateEvent($event);">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Đến ngày</label>
                    <div>
                        <div class="add-input-zone">
                            <input class="input-border-form" type="text" ng-model="filtered.advanceData.denNgay" placeholder="{{config.dateFormat}}"
                                   uib-datepicker-popup="{{config.dateFormat}}" is-open="_denNgay" datepicker-localdate />
                            <div class="button-calender" ng-click="_denNgay = !_denNgay; config.delegateEvent($event);">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Mã hải quan</label>
                    <input ng-model="filtered.advanceData.maHaiQuan" type="text" class="input-border-form">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Mã doanh nghiệp</label>
                    <input ng-model="filtered.advanceData.maDoanhNghiep" type="text" class="input-border-form">
                </div>
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Mã cửa hàng</label>
                    <input ng-model="filtered.advanceData.maCuaHang" type="text" class="input-border-form">
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Mã kho xuất</label>
                    <input ng-model="filtered.advanceData.maKhoXuat" type="text" class="input-border-form">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Mã kho nhập</label>
                    <input ng-model="filtered.advanceData.maKhoNhap" type="text" class="input-border-form">
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover no-margin-vertical">
            <thead>
                <tr class="headings">
                    <th class="column-title">#</th>
                    <th class="column-title">Mã doanh nghiệp</th>
                    <th class="column-title">Ngày hoạch toán</th>
                    <th class="column-title">Mã cửa hàng</th>
                    <th class="column-title">Mã kho xuất</th>
                    <th class="column-title">Mã kho nhập</th>
                    <th class="column-title">Mã đơn vị HQ</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="isLoading">
                    <td colspan="8"><my-loading></my-loading></td>
                </tr>
                <tr class="even pointer" ng-repeat="item in data" ng-dblclick="details(item)">
                    <td>{{$index + 1}}</td>
                    <td>{{displayHelper(item.maDoanhNghiep, 'companies')}}</td>
                    <td>{{item.ngayHachToan | date : "dd/MM/yyyy"}}</td>
                    <td>{{displayHelper(item.maCuaHang, 'dsDonVis')}}</td>
                    <td>{{displayHelper(item.maKhoXuat, 'wareHouses')}}</td>
                    <td>{{displayHelper(item.maKhoNhap, 'wareHouses')}}</td>
                    <td>{{displayHelper(item.maHaiQuan, 'donViHaiQuans')}}</td>
                    <td>
                        <a class="glyphicon glyphicon-info-sign" ng-click="details(item)" data-toggle="tooltip" data-placement="top" title="Chi tiết"></a> &nbsp;&nbsp;&nbsp;
                        <a ng-show="item.trangThai != 10" class="glyphicon glyphicon-pencil" ng-click="update(item)" data-toggle="tooltip" data-placement="top"
                           title="Sửa phiếu"></a><span ng-if="item.trangThai != 10">&nbsp;&nbsp;&nbsp;</span>
                        <a ui-sref="reportPhieuNhapHangMua({id: item.id})" class="glyphicon glyphicon-print" data-toggle="tooltip" data-placement="top"
                           title="In phiếu"></a>&nbsp;&nbsp;&nbsp;
                        <a ng-show="item.trangThai === 10" class="glyphicon glyphicon-barcode" ng-click="printITem(item)" data-toggle="tooltip" data-placement="top" title="In tem"></a>
                        <a class="glyphicon glyphicon-transfer" ng-show="item.trangThai === 10" data-toggle="tooltip" ng-click="tranferFrom(item)" data-placement="top" title="Điều chuyển"></a>
                        <a class="glyphicon glyphicon-trash" ng-show="item.trangThai != 10" ng-click="deleteItem($event, item)" data-toggle="tooltip" data-placement="top" title="Xóa"></a> &nbsp;&nbsp;&nbsp;

                    </td>
                </tr>
                <!--<tr>
                    <td colspan="6" style="text-align:center; color:red">Tổng tiền</td>
                    <td style="text-align:right;">{{sum() | number}}</td>
                </tr>-->
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <uib-pagination class="no-margin-vertical pagination-sm" ng-model="paged.currentPage" ng-change="pageChanged()" items-per-page="paged.itemsPerPage"
                        ng-show="paged.totalItems > 0" total-items="paged.totalItems" max-size="paged.pageSize" boundary-links="true" num-pages="paged.totalPage"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
        </uib-pagination>
    </div>
</div>
