
<form></form><!-- KHông hiểu sao để thế này thì nó mới không bị lỗi T_T-->
<div>
    <div class="modal-header" style="padding: 5px 5px">
        <h3 class="modal-title">{{title()}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <div class="md-style-label-input">
                        Số hóa đơn <span style="color:red">(*)</span>
                    </div>
                    <div class="md-4-style-input">
                        <input class="input-border-form" type="text" name="_maHoaDon" ng-model="target.maHoaDon" maxlength="50" disabled />
                        <span style="color:red" ng-show="_form._maHoaDon.$dirty && _form._maHoaDon.$invalid">
                            <span ng-show="_form._maHoaDon.$error.required">Không được để trống</span>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="md-style-label-input">
                        Ngày chứng từ
                    </div>
                    <div class="md-4-style-input">
                        <div class="add-input-zone">
                            <input class="input-border-form" type="text" ng-model="target.ngayCT" placeholder="{{config.dateFormat}}"
                                   uib-datepicker-popup="{{config.dateFormat}}" is-open="_ngayct" readonly datepicker-localdate />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="md-style-label-input">
                        Loại tiền <span style="color: red">(*)</span>
                    </div>
                    <div class="md-4-style-input">
                        <div class="add-input-zone">
                            <input class="input-border-form" name="_ngoaiTe" type="text" ng-model="target.ngoaiTe" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.currencies | filter:$viewValue" typeahead-input-formatter="nameCurrency($model, 'currencies')" required />
                            <span style="color:red" ng-show="_form._ngoaiTe.$dirty && _form._ngoaiTe.$invalid">
                                <span ng-show="_form._ngoaiTe.$error.required">Không được để trống</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-8">
                    <div class="md-style-label-input">
                        Nội dung
                    </div>
                    <div class="md-8-style-input">
                        <textarea class="input-border-form" focus="true" name="_noidung" style="width:100%;" rows="1" ng-model="target.noiDung"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="md-style-label-input">
                        Máy bán <span style="color:red">(4)</span>
                    </div>
                    <div class="md-4-style-input">
                        <select class="input-border-form" ng-model="target.maMayBan" ng-options="opt.value as opt.text for opt in tempData.sellingMachines"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <div class="md-style-label-input">
                        Khách hàng
                    </div>
                    <div class="md-4-style-input">
                        <div class="add-input-zone">
                            <input class="input-border-form" name="_makhachHang" type="text" ng-model="target.maKhachHang" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.customers | filter:$viewValue" typeahead-on-select="selectedkhachHang($item)" typeahead-input-formatter="formatLabel($model, 'customers')" />
                            <div class="add-input-able" ng-click="createCustomer(target, 'makhachHang')">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="md-style-label-input">
                        Mã số thuế<span style="color:red">(5)</span>
                    </div>
                    <div class="md-4-style-input">
                        <input class="input-border-form" name="_maSoThue" type="text" ng-model="target.maSoThue" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="md-style-label-input">
                        Kho xuất <span style="color:red">(6)</span>
                    </div>
                    <div class="md-4-style-input">
                        <div class="add-input-zone">
                            <input class="input-border-form" name="_khoXuat" type="text" ng-model="target.maKhoXuat" typeahead-editable="false" typeahead-on-select="selectedKhoXuat($item)" uib-typeahead="opt.value as opt.text for opt in tempData.wareHouses | filter:$viewValue" typeahead-input-formatter="formatLabel($model, 'wareHouses')" required />
                            <div class="add-input-able" ng-click="createWareHouse(target, 'maKhoXuat')">
                            </div>
                        </div>
                        <span style="color:red" ng-show="_form._khoXuat.$dirty && _form._khoXuat.$invalid">
                            <span ng-show="_form._khoXuat.$error.required">Không được để trống</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <uib-tabset active="active">
            <uib-tab index="0" heading="Chi tiết">
                <table class="table table-bordered table-hover table-condensed" arrow-selector data-item-target="dataDetails">
                    <thead>
                        <tr>
                            <th style="width:3%" class="text-center">STT</th>
                            <th style="width:10%" class="text-center">Barcode</th>
                            <th style="width:10%" class="text-center">Mã hàng</th>
                            <th style="width:10%" class="text-center">Tên hàng</th>
                            <th style="width:5%" class="text-center">ĐVT</th>
                            <th style="width:10%" class="text-center">Loại bao bì</th>
                            <th style="width:5%" class="text-center">Quy cách</th>
                            <th style="width:5%" class="text-center">Sl bao</th>
                            <th style="width:5%" class="text-center">Sl lẻ</th>
                            <th style="width:5%" class="text-center">Sl</th>
                            <th style="width:10%" class="text-center">Đơn giá</th>
                            <th style="width:10%" class="text-center">G.Giá</th>
                            <th style="width:10%" class="text-center">Tiền G.Giá</th>
                            <th style="width:15%" class="text-center">Thành tiền</th>
                            <th style="width:5%"></th>
                        </tr>
                    </thead>
                    <tbody ng-form name="_formAddDetail">
                        <tr style="background:rgba(119, 119, 119, 0.48)" ng-enter="addRow()">
                            <td style="text-align:center;"></td>
                            <td>{{newItem.barcode}}</td>
                            <td>
                                <input id="mahang" type="text" style="width:100%;" name="_maHang" ng-model="newItem.maHang" ng-blur="selectedMaHang(newItem.maHang)" maxlength="50" />
                            </td>
                            <td>
                                {{newItem.tenHang}}
                            </td>
                            <td>{{newItem.donViTinh}}</td>
                            <td>
                                <div class="add-input-zone">
                                    <input autocomplete="off" type="text" style="width:100%;" ng-model="newItem.maBaoBi" name="_maBaoBi" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.packagings | filter:$viewValue | limitTo:5" typeahead-on-select="selectedMaBaoBi(newItem, $item)" typeahead-input-formatter="formatLabel($model, 'packagings')" />
                                    <div class="add-input-able" ng-click="createPackage(newItem, 'maBaoBi')">
                                    </div>
                                </div>
                            </td>
                            <td style="text-align:center;">{{newItem.luongBao}}</td>
                            <td>
                                <input format-number-input="number" style="text-align:center; width:100%" ng-model="newItem.soLuongBao" ng-change="robot.changeSoLuongBao(newItem)">
                            </td>
                            <td>
                                <input id="soluong" format-number-input="number" style="text-align:center; width:100%" ng-model="newItem.soLuongLe" ng-change="robot.changeSoLuongLe(newItem)">
                            </td>
                            <td>
                                <input format-number-input="number" style="text-align:center; width:100%" ng-model="newItem.soLuong" ng-change="robot.changeSoLuong(newItem)" disabled>
                            </td>
                            <td>
                                <input format-number-input="number" style="text-align:right; width:100%" ng-model="newItem.donGia" ng-change="robot.changeDonGia(newItem)" />
                            </td>
                            <td>
                                <input format-number-input="number" style="text-align:right; width:100%" ng-model="newItem.giamGia" ng-change="robot.changeGiamGia(newItem)" />
                            </td>
                            <td>
                                <input format-number-input="number" style="text-align:right; width:100%" ng-model="newItem.tienGiamGia" ng-change="robot.changeTienGiamGia(newItem);" disabled />
                            </td>
                            <td>
                                <div style="text-align:right; width:100%" disabled>
                                    {{newItem.thanhTien | number}}
                                </div>
                            </td>
                            <td style="white-space: nowrap" class="text-center">
                                <div class="form-buttons form-inline">
                                    <button prevent-default type="button" ng-disabled="_formAddDetail.$invalid" ng-click="addRow()" class="btn btn-default btn-sm btn-sm-add-item">{{config.label.btnCreate}}</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-form name="_formDetail">
                        <tr ng-repeat="item in data track by $index">
                            <td style="text-align:center;">{{$index + 1}}</td>
                            <td>
                                <input type="text" style="text-align:center; width:100%" ng-model="item.barcode" disabled>
                            </td>
                            <td>
                                {{item.maHang}}
                            </td>
                            <td>
                                {{item.tenHang}}
                            </td>
                            <td>{{item.donViTinh}}</td>
                            <td>
                                <input autocomplete="off" type="text" style="width:100%;" ng-model="item.maBaoBi" name="_maBaoBi_{{$index}}" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.packagings | filter:$viewValue | limitTo:5" typeahead-on-select="selectedMaBaoBi(item, $item)" typeahead-input-formatter="formatLabel($model, 'packagings')" />
                            </td>
                            <td style="text-align:center;">{{item.luongBao}}</td>
                            <td>
                                <input format-number-input="number" style="text-align:center; width:100%" ng-model="item.soLuongBao" ng-change="changeSoLuongBao(item)">
                            </td>
                            <td>
                                <input format-number-input="number" style="text-align:center; width:100%" ng-model="item.soLuongLe" ng-change="robot.changeSoLuongLe(item)">
                            </td>
                            <td>
                                <input format-number-input="number" style="text-align:center; width:100%" ng-model="item.soLuong" disabled>
                            </td>
                            <td>
                                <input format-number-input="number" style="text-align:right; width:100%" ng-model="item.donGia" ng-change="robot.changeDonGia(item)" />
                            </td>
                            <td>
                                <input format-number-input="number" style="text-align:right; width:100%" ng-model="item.giamGia" ng-change="robot.changeGiamGia(item)" />
                            </td>
                            <td>
                                <input format-number-input="number" style="text-align:right; width:100%" ng-model="item.tienGiamGia" disabled />
                            </td>
                            <td>
                                <div style="text-align:right; width:100%" disabled>
                                    {{item.thanhTien | number}}
                                </div>
                            </td>
                            <td style="white-space: nowrap" class="text-center">
                                <div class="form-buttons form-inline">
                                    <button prevent-default type="button" style="height: 20px; line-height: 2px;background: rgba(255, 213, 93, 0.61);" ng-click="removeItem($index)" class="btn btn-default btn-sm">
                                        Xóa
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </uib-tab>
            <uib-tab heading="Định khoản">
                <div>
                    <form name="_tableForm">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th style="width:2%" class="text-center">STT</th>
                                        <th style="width:10%" class="text-center">Tài khoản nợ</th>
                                        <th style="width:10%" class="text-center">Tài khoản có</th>
                                        <th style="width:20%" class="text-center">Đối tượng nợ</th>
                                        <th style="width:20%" class="text-center">Đối tượng có</th>
                                        <th style="width:20%" class="text-center">Số tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in target.dataClauseDetails">
                                        <td style="text-align:center">{{$index + 1}}</td>
                                        <td>
                                            <input style="width:100%;" type="text" ng-model="item.tkNo" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.accounts | filter:$viewValue" />
                                        </td>
                                        <td>
                                            <input style="width:100%;" type="text" ng-model="item.tkCo" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.accounts | filter:$viewValue" />
                                        </td>
                                        <td>
                                            <input style="width:100%;" type="text" ng-model="item.doiTuongNo" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.customers | filter:$viewValue" typeahead-input-formatter="formatLabel($model, 'customers')" disabled />
                                        </td>
                                        <td>
                                            <input style="width:100%;" type="text" ng-model="item.doiTuongCo" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData.wareHouses | filter:$viewValue" typeahead-input-formatter="formatLabel($model, 'wareHouses')" disabled />
                                        </td>
                                        <td>
                                            <input format-number-input="number" style="width:100%;" ng-model="item.soTien" disabled />
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </form>
                </div>

            </uib-tab>
        </uib-tabset>
        <div class="form-group">
            <table class="table table-inverse">
                <tbody>
                    <tr>
                        <td style="width:20%"></td>
                        <td nowrap style="text-align:right;"><label>Giảm giá:</label></td>
                        <td nowrap style="width:10%"></td>
                        <td style="width:10%; text-align:right;">
                            <span style="color:red;font-weight:bold"><b>{{target.tongTienGiamGia | number}}</b> </span>
                        </td>
                        <td nowrap style="text-align:right"><label>Thành tiền:</label></td>
                        <td style="text-align:right; width:20%">
                            <span style="color:red;font-weight:bold"><b>{{target.thanhTienTruocVat | number}}</b></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%"></td>
                        <td nowrap style="text-align:right;"><label>Tỷ lệ CK/Giảm giá(%) :</label></td>
                        <td style="width:10%; text-align:right">

                            <input class="input-border-form" ng-change="robot.changeChietKhau(target)" format-number-input="number" style="text-align:right; width:50%;border-color:#ababab;" ng-model="target.chietKhau" />
                        </td>
                        <td>
                            <input class="input-border-form" ng-change="robot.changeTienChietKhau(target)" format-number-input="number" style="text-align:right;border-color:#ababab;" ng-model="target.tienChietKhau " />
                        </td>

                        <td nowrap style="text-align:right;"><label>Thành tiền sau CK/GG:</label></td>
                        <td style="width:10%; text-align:right;">
                            <span style="color:red;font-weight:bold" type="number"><b>{{target.thanhTienTruocVatSauCK | number}}</b></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%"></td>
                        <td nowrap style="text-align:right;"><label>Thuế(%):</label></td>
                        <td style="width:10%; text-align:right;">
                            <input class="input-border-form" name="_tax" type="text" style="border-color:#ababab;" ng-model="target.vat" typeahead-editable="false" typeahead-on-select="selectedTax(target, $item)" uib-typeahead="opt.value as opt.text for opt in tempData.taxs | filter:$viewValue" typeahead-input-formatter="formatLabel($model, 'taxs')" />
                        </td>
                        <td nowrap style="text-align:right; width:10%"> <span style="color:red;font-weight:bold"><b>{{target.tienVat| number}}</b></span></td>
                        <td nowrap style="text-align:right;"><label>Tổng tiền:</label></td>
                        <td nowrap style="text-align:right; width:20%"> <span style="color:red;font-weight:bold"><b>{{target.thanhTienSauVat | number}}</b></span></td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <uib-pagination class="no-margin-vertical pagination-sm" ng-model="paged.currentPage"
                                ng-change="pageChanged()"
                                items-per-page="paged.itemsPerPage" ng-show="paged.totalItems > 0" total-items="paged.totalItems" max-size="paged.pageSize"
                                boundary-links="true" num-pages="paged.totalPage"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                </uib-pagination>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid || _formDetail.$invalid" ng-click="saveAndPrint()">{{config.label.btnSaveAndPrint}}</button>
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid || _formDetail.$invalid" ng-click="save()">{{config.label.btnSubmit}}</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>

